.block-facet-block-nested-dropdown .block__content,
.block-facet--checkbox.menu--plenary .block__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  text-align: left; }
  .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox,
  .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox {
    position: relative;
    /*&:hover {
      ul {
        display: block;
        position:absolute;
        left: auto;  LTR 
        z-index: 1;
      }
    }*/
    flex: 1;
    /*.menu-item--expanded .menu {
      background: #fff;
      width: auto;
      height: auto;
    }      */
    /* Lists nested under hovered list items */ }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox h3,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox h3 {
      font-weight: normal;
      margin: 0;
      padding: 10px; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox ul {
      display: none;
      left: -999em;
      /* LTR */
      /*&:hover {
        display: block;
        position:absolute;
        left: auto;  LTR 
      }*/ }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox > ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox > ul {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox ul {
      list-style: none;
      padding: 0;
      margin: 0;
      background: #fff;
      width: 250px;
      height: auto;
      /*.block-facets ul  */ }
      .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox ul li,
      .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox ul li {
        padding: 5px 10px; }
      .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox ul ul li,
      .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox ul ul li {
        margin: 0; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox .facet-item:hover,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox .facet-item:hover {
      background: #fff; }
      .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox .facet-item:hover > label,
      .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox .facet-item:hover > label {
        text-decoration: underline; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox .facet-item--expanded,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox .facet-item--expanded {
      background-color: #f5f5f2;
      /*background: #fff;
      width: auto;
      height: auto;*/
      /*        &:has(a.is-active) {
                
              }*/ }
      .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox .facet-item--expanded.facet-item--active-trail > label, .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox .facet-item--expanded:has(a.is-active) > label,
      .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox .facet-item--expanded.facet-item--active-trail > label,
      .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox .facet-item--expanded:has(a.is-active) > label {
        /*color: blueviolet;*/
        font-weight: bold;
        text-decoration: underline; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox ul li.facet-item,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox ul li.facet-item {
      border-top: none transparent;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox .facet-item:last-child,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox .facet-item:last-child {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox ul li.facet-item:first-child,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox ul li.facet-item:first-child {
      border-top: 1px solid #ddd; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox li.facet-item--expanded.hover-intent ul ul,
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox li.facet-item--expanded.hover-intent ul ul ul,
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox li.facet-item--expanded.hover-intent ul ul ul ul,
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox li.facet-item--expanded.hover-intent ul ul ul ul ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox li.facet-item--expanded.hover-intent ul ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox li.facet-item--expanded.hover-intent ul ul ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox li.facet-item--expanded.hover-intent ul ul ul ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox li.facet-item--expanded.hover-intent ul ul ul ul ul {
      display: none;
      left: -999em;
      /* LTR */ }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox li.facet-item--expanded.hover-intent ul,
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox li li.facet-item--expanded.hover-intent ul,
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox li li li.facet-item--expanded.hover-intent ul,
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox li li li li.facet-item--expanded.hover-intent ul,
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox li li li li li.facet-item--expanded.hover-intent ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox li.facet-item--expanded.hover-intent ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox li li.facet-item--expanded.hover-intent ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox li li li.facet-item--expanded.hover-intent ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox li li li li.facet-item--expanded.hover-intent ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox li li li li li.facet-item--expanded.hover-intent ul {
      display: block;
      left: auto;
      /* LTR */ }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox ul li.facet-item--expanded.hover-intent ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox ul li.facet-item--expanded.hover-intent ul {
      display: block;
      position: absolute;
      width: 250px;
      /**/
      /* box-shadow: 2px 2px 3px hsla(0, 0, 0, 0.4); */
      z-index: 1; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox ul li.facet-item--expanded.facet-item > ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox ul li.facet-item--expanded.facet-item > ul {
      display: none; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox ul li.facet-item--expanded.facet-item.hover-intent ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox ul li.facet-item--expanded.facet-item.hover-intent ul {
      display: block;
      margin: -33px 0 0 238px; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox li:hover ul li,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox li:hover ul li {
      float: none; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox li.hover-intent ul li,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox li.hover-intent ul li {
      float: none; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox .facet-item input, .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox .facet-item label,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox .facet-item input,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox .facet-item label {
      display: inline-block; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox .facet-item label,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox .facet-item label {
      margin-left: 10px;
      font-weight: normal; }
    .block-facet-block-nested-dropdown .block__content .facets-widget-checkbox ul li.facet-item--expanded.hover-intent ul,
    .block-facet--checkbox.menu--plenary .block__content .facets-widget-checkbox ul li.facet-item--expanded.hover-intent ul {
      width: 250px; }

/*.block-facet-blockplenary,*/
.block-facet-block-nested-dropdown,
.block-facet--checkbox.menu--plenary {
  position: relative;
  margin-bottom: 0;
  display: inline-block;
  /*width: 250px;*/
  width: 75%;
  /*text-align: left;*/
  top: 74px;
  text-align: center; }
  .block-facet-block-nested-dropdown h2,
  .block-facet--checkbox.menu--plenary h2 {
    /*width: auto;*/
    width: 250px;
    margin: 0;
    /*padding: 0px 10px 50px;*/
    /*padding: 0px 10px 0px;*/
    /*margin: 115px 0 0 0;*/
    /*line-height: 27px;*/
    /*text-align: center;*/
    text-align: left;
    font-size: large; }
  .block-facet-block-nested-dropdown .block__content,
  .block-facet--checkbox.menu--plenary .block__content {
    position: absolute;
    /*top: 60px;*/
    /*top: 15px;
    left: 0px;*/
    /*top: 180px;
    left: -18px;*/
    /*top: 102px;
    left: 185px;*/
    top: 22px;
    left: 0px; }

.block-views-exposed-filter-blockvotes-page-1 {
  /*display: inline-block;
  position: relative;
  top: -50px;*/ }
  .block-views-exposed-filter-blockvotes-page-1 .block__content {
    width: 100%; }
    .block-views-exposed-filter-blockvotes-page-1 .block__content form .form-item {
      display: inline-block;
      width: 22%; }
    .block-views-exposed-filter-blockvotes-page-1 .block__content form .form-actions {
      display: inline-block;
      width: 30%;
      padding-left: 20px; }
      .block-views-exposed-filter-blockvotes-page-1 .block__content form .form-actions input {
        display: inline-block; }
    .block-views-exposed-filter-blockvotes-page-1 .block__content form .form-item-search-api-fulltext input {
      line-height: 67px; }

/*# sourceMappingURL=votewatch.css.map */
