<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-189525">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/189525" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Asim ADEMOV" src="https://www.europarl.europa.eu/mepphoto/189525.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Asim ADEMOV</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Citizens for European Development of Bulgaria</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197836">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197836" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alexander ALEXANDROV YORDANOV" src="https://www.europarl.europa.eu/mepphoto/197836.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alexander ALEXANDROV YORDANOV</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Union of Democratic Forces</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197848">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197848" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Atidzhe ALIEVA-VELI" src="https://www.europarl.europa.eu/mepphoto/197848.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Atidzhe ALIEVA-VELI</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Movement for Rights and Freedoms</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124873">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/124873" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Angel DZHAMBAZKI" src="https://www.europarl.europa.eu/mepphoto/124873.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Angel DZHAMBAZKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">VMRO</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197846">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/197846" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ivo HRISTOV" src="https://www.europarl.europa.eu/mepphoto/197846.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ivo HRISTOV</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarian Socialist Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197839">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/197839" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Radan KANEV" src="https://www.europarl.europa.eu/mepphoto/197839.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Radan KANEV</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Democrats for Strong Bulgaria</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-97968">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/97968" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andrey KOVATCHEV" src="https://www.europarl.europa.eu/mepphoto/97968.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andrey KOVATCHEV</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Citizens for European Development of Bulgaria</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124866">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/124866" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ilhan KYUCHYUK" src="https://www.europarl.europa.eu/mepphoto/124866.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ilhan KYUCHYUK</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Movement for Rights and Freedoms</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-98341">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/98341" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Eva MAYDELL" src="https://www.europarl.europa.eu/mepphoto/98341.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Eva MAYDELL</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Citizens for European Development of Bulgaria</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125128">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/125128" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Iskra MIHAYLOVA" src="https://www.europarl.europa.eu/mepphoto/125128.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Iskra MIHAYLOVA</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Movement for Rights and Freedoms</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-107212">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/107212" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andrey NOVAKOV" src="https://www.europarl.europa.eu/mepphoto/107212.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andrey NOVAKOV</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Citizens for European Development of Bulgaria</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197845">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/197845" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tsvetelina PENKOVA" src="https://www.europarl.europa.eu/mepphoto/197845.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tsvetelina PENKOVA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarian Socialist Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124850">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/124850" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Emil RADEV" src="https://www.europarl.europa.eu/mepphoto/124850.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Emil RADEV</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Citizens for European Development of Bulgaria</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197849">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/197849" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andrey SLABAKOV" src="https://www.europarl.europa.eu/mepphoto/197849.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andrey SLABAKOV</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">VMRO</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124852">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/124852" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sergei STANISHEV" src="https://www.europarl.europa.eu/mepphoto/124852.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sergei STANISHEV</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarian Socialist Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197844">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/197844" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Petar VITANOV" src="https://www.europarl.europa.eu/mepphoto/197844.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Petar VITANOV</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarian Socialist Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197842">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/197842" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Elena YONCHEVA" src="https://www.europarl.europa.eu/mepphoto/197842.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Elena YONCHEVA</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bulgarian Socialist Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
