<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197783">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/197783" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andris AMERIKS" src="https://www.europarl.europa.eu/mepphoto/197783.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andris AMERIKS</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lettonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Gods kalpot Rīgai</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197624">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197624" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ivars IJABS" src="https://www.europarl.europa.eu/mepphoto/197624.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ivars IJABS</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lettonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Attīstībai/Par!</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96934">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/96934" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sandra KALNIETE" src="https://www.europarl.europa.eu/mepphoto/96934.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sandra KALNIETE</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lettonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partija "VIENOTĪBA"</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-256134">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/256134" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ansis PŪPOLS" src="https://www.europarl.europa.eu/mepphoto/256134.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ansis PŪPOLS</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lettonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nacionālā apvienība "Visu Latvijai!"-"Tēvzemei un Brīvībai/LNNK"</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197810">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/197810" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nils UŠAKOVS" src="https://www.europarl.europa.eu/mepphoto/197810.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nils UŠAKOVS</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lettonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">"Saskaņa" sociāldemokrātiskā partija</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28617">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/28617" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Inese VAIDERE" src="https://www.europarl.europa.eu/mepphoto/28617.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Inese VAIDERE</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lettonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partija "VIENOTĪBA"</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28615">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/28615" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Roberts ZĪLE" src="https://www.europarl.europa.eu/mepphoto/28615.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Roberts ZĪLE</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lettonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nacionālā apvienība "Visu Latvijai!"-"Tēvzemei un Brīvībai/LNNK"</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28619">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/28619" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tatjana ŽDANOKA" src="https://www.europarl.europa.eu/mepphoto/28619.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tatjana ŽDANOKA</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lettonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Latvijas Krievu savienība</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
