<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28161">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/28161" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Margrete AUKEN" src="https://www.europarl.europa.eu/mepphoto/28161.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Margrete AUKEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Socialistisk Folkeparti</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197558">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197558" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Asger CHRISTENSEN" src="https://www.europarl.europa.eu/mepphoto/197558.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Asger CHRISTENSEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Venstre, Danmarks Liberale Parti</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-101585">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/101585" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Niels FUGLSANG" src="https://www.europarl.europa.eu/mepphoto/101585.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Niels FUGLSANG</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Socialdemokratiet</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96709">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/96709" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Morten LØKKEGAARD" src="https://www.europarl.europa.eu/mepphoto/96709.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Morten LØKKEGAARD</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Venstre, Danmarks Liberale Parti</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-239973">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/239973" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Bergur Løkke RASMUSSEN" src="https://www.europarl.europa.eu/mepphoto/239973.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Bergur Løkke RASMUSSEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">MODERATERNE</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197567">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/197567" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Karen MELCHIOR" src="https://www.europarl.europa.eu/mepphoto/197567.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Karen MELCHIOR</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197573">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/197573" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Kira Marie PETER-HANSEN" src="https://www.europarl.europa.eu/mepphoto/197573.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Kira Marie PETER-HANSEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Socialistisk Folkeparti</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124872">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/124872" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Morten PETERSEN" src="https://www.europarl.europa.eu/mepphoto/124872.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Morten PETERSEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Det Radikale Venstre</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-239972">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/239972" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Erik POULSEN" src="https://www.europarl.europa.eu/mepphoto/239972.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Erik POULSEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Venstre, Danmarks Liberale Parti</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-37312">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/37312" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Christel SCHALDEMOSE" src="https://www.europarl.europa.eu/mepphoto/37312.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Christel SCHALDEMOSE</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Socialdemokratiet</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197571">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/197571" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nikolaj VILLUMSEN" src="https://www.europarl.europa.eu/mepphoto/197571.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nikolaj VILLUMSEN</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Enhedslisten</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-199941">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/199941" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marianne VIND" src="https://www.europarl.europa.eu/mepphoto/199941.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marianne VIND</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Socialdemokratiet</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124875">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/124875" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Anders VISTISEN" src="https://www.europarl.europa.eu/mepphoto/124875.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Anders Primdahl VISTISEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Dansk Folkeparti</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197515">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/197515" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pernille WEISS" src="https://www.europarl.europa.eu/mepphoto/197515.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pernille WEISS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Danemark</span>

							
								<br>
							
						
							<span class="sln-additional-info">Det Konservative Folkeparti</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
