<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197651">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/197651" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Carmen AVRAM" src="https://www.europarl.europa.eu/mepphoto/197651.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Carmen AVRAM</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Social Democrat</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197671">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197671" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Traian BĂSESCU" src="https://www.europarl.europa.eu/mepphoto/197671.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Traian BĂSESCU</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Mișcarea Populară</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197658">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197658" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Adrian-Dragoş BENEA" src="https://www.europarl.europa.eu/mepphoto/197658.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Adrian-Dragoş BENEA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Social Democrat</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197637">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/197637" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Vasile BLAGA" src="https://www.europarl.europa.eu/mepphoto/197637.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Vasile BLAGA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Naţional Liberal</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197636">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/197636" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ioan-Rareş BOGDAN" src="https://www.europarl.europa.eu/mepphoto/197636.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ioan-Rareş BOGDAN</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Naţional Liberal</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197668">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/197668" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Vlad-Marius BOTOŞ" src="https://www.europarl.europa.eu/mepphoto/197668.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Vlad-Marius BOTOŞ</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Uniunea Salvați România</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125012">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/125012" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Daniel BUDA" src="https://www.europarl.europa.eu/mepphoto/125012.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Daniel BUDA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Naţional Liberal</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-38420">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/38420" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Cristian-Silviu BUŞOI" src="https://www.europarl.europa.eu/mepphoto/38420.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Cristian-Silviu BUŞOI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Naţional Liberal</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197631">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/197631" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dacian CIOLOŞ" src="https://www.europarl.europa.eu/mepphoto/197631.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dacian CIOLOŞ</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">REPER</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197657">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/197657" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tudor CIUHODARU" src="https://www.europarl.europa.eu/mepphoto/197657.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tudor CIUHODARU</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Alianța pentru Unirea Românilor</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-33997">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/33997" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Corina CREȚU" src="https://www.europarl.europa.eu/mepphoto/33997.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Corina CREȚU</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">PRO Romania</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197649">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/197649" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Gheorghe FALCĂ" src="https://www.europarl.europa.eu/mepphoto/197649.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Gheorghe FALCĂ</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Naţional Liberal</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-209140">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/209140" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Vlad GHEORGHE" src="https://www.europarl.europa.eu/mepphoto/209140.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Vlad GHEORGHE</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124785">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/124785" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Maria GRAPINI" src="https://www.europarl.europa.eu/mepphoto/124785.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Maria GRAPINI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Social Democrat</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197646">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/197646" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mircea-Gheorghe HAVA" src="https://www.europarl.europa.eu/mepphoto/197646.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mircea-Gheorghe HAVA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Naţional Liberal</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197653">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/197653" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Claudiu MANDA" src="https://www.europarl.europa.eu/mepphoto/197653.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Claudiu MANDA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Social Democrat</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-33982">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/33982" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marian-Jean MARINESCU" src="https://www.europarl.europa.eu/mepphoto/33982.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marian-Jean MARINESCU</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Naţional Liberal</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-212855">
			<meta itemprop="position" content="18">
			<a href="https://www.europarl.europa.eu/meps/fr/212855" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alin MITUȚA" src="https://www.europarl.europa.eu/mepphoto/212855.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alin MITUȚA</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">REPER</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197647">
			<meta itemprop="position" content="19">
			<a href="https://www.europarl.europa.eu/meps/fr/197647" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dan-Ştefan MOTREANU" src="https://www.europarl.europa.eu/mepphoto/197647.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dan-Ştefan MOTREANU</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Naţional Liberal</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124802">
			<meta itemprop="position" content="20">
			<a href="https://www.europarl.europa.eu/meps/fr/124802" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Siegfried MUREŞAN" src="https://www.europarl.europa.eu/mepphoto/124802.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Siegfried MUREŞAN</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Naţional Liberal</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-88882">
			<meta itemprop="position" content="21">
			<a href="https://www.europarl.europa.eu/meps/fr/88882" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Victor NEGRESCU" src="https://www.europarl.europa.eu/mepphoto/88882.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Victor NEGRESCU</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Social Democrat</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124784">
			<meta itemprop="position" content="22">
			<a href="https://www.europarl.europa.eu/meps/fr/124784" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dan NICA" src="https://www.europarl.europa.eu/mepphoto/124784.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dan NICA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Social Democrat</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-202112">
			<meta itemprop="position" content="23">
			<a href="https://www.europarl.europa.eu/meps/fr/202112" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Gheorghe-Vlad NISTOR" src="https://www.europarl.europa.eu/mepphoto/202112.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Gheorghe-Vlad NISTOR</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Naţional Liberal</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197663">
			<meta itemprop="position" content="24">
			<a href="https://www.europarl.europa.eu/meps/fr/197663" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dragoş PÎSLARU" src="https://www.europarl.europa.eu/mepphoto/197663.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dragoş PÎSLARU</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">REPER</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-38595">
			<meta itemprop="position" content="25">
			<a href="https://www.europarl.europa.eu/meps/fr/38595" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Rovana PLUMB" src="https://www.europarl.europa.eu/mepphoto/38595.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Rovana PLUMB</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Social Democrat</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-58766">
			<meta itemprop="position" content="26">
			<a href="https://www.europarl.europa.eu/meps/fr/58766" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nicolae ŞTEFĂNUȚĂ" src="https://www.europarl.europa.eu/mepphoto/58766.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nicolae ŞTEFĂNUȚĂ</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-134605">
			<meta itemprop="position" content="27">
			<a href="https://www.europarl.europa.eu/meps/fr/134605" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ramona STRUGARIU" src="https://www.europarl.europa.eu/mepphoto/134605.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ramona STRUGARIU</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">REPER</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197655">
			<meta itemprop="position" content="28">
			<a href="https://www.europarl.europa.eu/meps/fr/197655" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Cristian TERHEŞ" src="https://www.europarl.europa.eu/mepphoto/197655.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Cristian TERHEŞ</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">PARTIDULUI NAȚIONAL CONSERVATOR ROMÂN (PNCR)</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197672">
			<meta itemprop="position" content="29">
			<a href="https://www.europarl.europa.eu/meps/fr/197672" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Eugen TOMAC" src="https://www.europarl.europa.eu/mepphoto/197672.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Eugen TOMAC</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Mișcarea Populară</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197665">
			<meta itemprop="position" content="30">
			<a href="https://www.europarl.europa.eu/meps/fr/197665" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dragoş TUDORACHE" src="https://www.europarl.europa.eu/mepphoto/197665.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dragoş TUDORACHE</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">REPER</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-198183">
			<meta itemprop="position" content="31">
			<a href="https://www.europarl.europa.eu/meps/fr/198183" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mihai TUDOSE" src="https://www.europarl.europa.eu/mepphoto/198183.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mihai TUDOSE</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partidul Social Democrat</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-98582">
			<meta itemprop="position" content="32">
			<a href="https://www.europarl.europa.eu/meps/fr/98582" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Loránt VINCZE" src="https://www.europarl.europa.eu/mepphoto/98582.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Loránt VINCZE</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Uniunea Democrată Maghiară din România</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-39725">
			<meta itemprop="position" content="33">
			<a href="https://www.europarl.europa.eu/meps/fr/39725" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Iuliu WINKLER" src="https://www.europarl.europa.eu/mepphoto/39725.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Iuliu WINKLER</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Roumanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Uniunea Democrată Maghiară din România</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
