<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124766">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/124766" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Petras AUŠTREVIČIUS" src="https://www.europarl.europa.eu/mepphoto/124766.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Petras AUŠTREVIČIUS</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lituanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lietuvos Respublikos liberalų sąjūdis</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96681">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/96681" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Vilija BLINKEVIČIŪTĖ" src="https://www.europarl.europa.eu/mepphoto/96681.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Vilija BLINKEVIČIŪTĖ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lituanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lietuvos socialdemokratų partija</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197837">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197837" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Stasys JAKELIŪNAS" src="https://www.europarl.europa.eu/mepphoto/197837.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Stasys JAKELIŪNAS</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lituanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197840">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/197840" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Rasa JUKNEVIČIENĖ" src="https://www.europarl.europa.eu/mepphoto/197840.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Rasa JUKNEVIČIENĖ</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lituanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Tėvynės sąjunga-Lietuvos krikščionys demokratai</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197843">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/197843" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andrius KUBILIUS" src="https://www.europarl.europa.eu/mepphoto/197843.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andrius KUBILIUS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lituanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Tėvynės sąjunga-Lietuvos krikščionys demokratai</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197841">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/197841" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Liudas MAŽYLIS" src="https://www.europarl.europa.eu/mepphoto/197841.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Liudas MAŽYLIS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lituanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Tėvynės sąjunga-Lietuvos krikščionys demokratai</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197838">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/197838" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Juozas OLEKAS" src="https://www.europarl.europa.eu/mepphoto/197838.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Juozas OLEKAS</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lituanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lietuvos socialdemokratų partija</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125214">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/125214" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Bronis ROPĖ" src="https://www.europarl.europa.eu/mepphoto/125214.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Bronis ROPĖ</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lituanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lietuvos valstiečių ir žaliųjų sąjunga</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197835">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/197835" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Aušra SEIBUTYTĖ" src="https://www.europarl.europa.eu/mepphoto/197835.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Aušra SEIBUTYTĖ</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lituanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Tėvynės sąjunga-Lietuvos krikščionys demokratai</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96697">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/96697" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Waldemar TOMASZEWSKI" src="https://www.europarl.europa.eu/mepphoto/96697.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Waldemar TOMASZEWSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lituanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lietuvos lenkų rinkimų akcija – Krikščioniškų šeimų sąjunga</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96698">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/96698" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Viktor USPASKICH" src="https://www.europarl.europa.eu/mepphoto/96698.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Viktor USPASKICH</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lituanie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Darbo partija</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
