<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204332">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/204332" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Barry ANDREWS" src="https://www.europarl.europa.eu/mepphoto/204332.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Barry ANDREWS</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fianna Fáil Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124988">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/124988" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Deirdre CLUNE" src="https://www.europarl.europa.eu/mepphoto/124988.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Deirdre CLUNE</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fine Gael Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197654">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197654" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ciarán CUFFE" src="https://www.europarl.europa.eu/mepphoto/197654.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ciarán CUFFE</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Green Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197731">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/197731" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Clare DALY" src="https://www.europarl.europa.eu/mepphoto/197731.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Clare DALY</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independents for change</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197720">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/197720" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Frances FITZGERALD" src="https://www.europarl.europa.eu/mepphoto/197720.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Frances FITZGERALD</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fine Gael Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124985">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/124985" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Luke Ming FLANAGAN" src="https://www.europarl.europa.eu/mepphoto/124985.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Luke Ming FLANAGAN</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197818">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/197818" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Billy KELLEHER" src="https://www.europarl.europa.eu/mepphoto/197818.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Billy KELLEHER</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fianna Fáil Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96668">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/96668" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Seán KELLY" src="https://www.europarl.europa.eu/mepphoto/96668.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Seán KELLY</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fine Gael Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-205452">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/205452" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Chris MACMANUS" src="https://www.europarl.europa.eu/mepphoto/205452.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Chris MACMANUS</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sinn Féin</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-209896">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/209896" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Colm MARKEY" src="https://www.europarl.europa.eu/mepphoto/209896.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Colm MARKEY</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fine Gael Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197889">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/197889" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Grace O'SULLIVAN" src="https://www.europarl.europa.eu/mepphoto/197889.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Grace O'SULLIVAN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Green Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197817">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/197817" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mick WALLACE" src="https://www.europarl.europa.eu/mepphoto/197817.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mick WALLACE</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independents for change</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197863">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/197863" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Maria WALSH" src="https://www.europarl.europa.eu/mepphoto/197863.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Maria WALSH</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Irlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fine Gael Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
