<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-23868">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/23868" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Monika BEŇOVÁ" src="https://www.europarl.europa.eu/mepphoto/23868.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Monika BEŇOVÁ</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">SMER-Sociálna demokracia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197771">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197771" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Vladimír BILČÍK" src="https://www.europarl.europa.eu/mepphoto/197771.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Vladimír BILČÍK</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197766">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197766" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Lucia ĎURIŠ NICHOLSONOVÁ" src="https://www.europarl.europa.eu/mepphoto/197766.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Lucia ĎURIŠ NICHOLSONOVÁ</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-34578">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/34578" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Robert HAJŠEL" src="https://www.europarl.europa.eu/mepphoto/34578.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Robert HAJŠEL</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197770">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/197770" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Martin HOJSÍK" src="https://www.europarl.europa.eu/mepphoto/197770.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Martin HOJSÍK</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Progresívne Slovensko</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197767">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/197767" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Eugen JURZYCA" src="https://www.europarl.europa.eu/mepphoto/197767.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Eugen JURZYCA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sloboda a Solidarita</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204336">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/204336" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Miriam LEXMANN" src="https://www.europarl.europa.eu/mepphoto/204336.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Miriam LEXMANN</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Kresťanskodemokratické hnutie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-249826">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/249826" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jozef MIHÁL" src="https://www.europarl.europa.eu/mepphoto/249826.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Josef MIHÁL</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197765">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/197765" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Peter POLLÁK" src="https://www.europarl.europa.eu/mepphoto/197765.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Peter POLLÁK</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Obyčajní ľudia a nezávislé osobnosti</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197764">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/197764" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Miroslav RADAČOVSKÝ" src="https://www.europarl.europa.eu/mepphoto/197764.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Miroslav RADAČOVSKÝ</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovak PATRIOT</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96653">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/96653" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Katarína ROTH NEVEĎALOVÁ" src="https://www.europarl.europa.eu/mepphoto/96653.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Katarína ROTH NEVEĎALOVÁ</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">SMER-Sociálna demokracia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124929">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/124929" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ivan ŠTEFANEC" src="https://www.europarl.europa.eu/mepphoto/124929.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ivan ŠTEFANEC</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Kresťanskodemokratické hnutie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197763">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/197763" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Milan UHRÍK" src="https://www.europarl.europa.eu/mepphoto/197763.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Milan UHRÍK</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hnutie Republika</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197769">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/197769" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Michal WIEZIK" src="https://www.europarl.europa.eu/mepphoto/197769.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Michal WIEZIK</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovaquie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Progresívne Slovensko</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
