<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124831">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/124831" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Isabella ADINOLFI" src="https://www.europarl.europa.eu/mepphoto/124831.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Isabella ADINOLFI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Forza Italia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197826">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197826" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Matteo ADINOLFI" src="https://www.europarl.europa.eu/mepphoto/197826.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Matteo ADINOLFI</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197808">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197808" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pietro BARTOLO" src="https://www.europarl.europa.eu/mepphoto/197808.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pietro BARTOLO</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197610">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/197610" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alessandra BASSO" src="https://www.europarl.europa.eu/mepphoto/197610.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alessandra BASSO</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124777">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/124777" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tiziana BEGHIN" src="https://www.europarl.europa.eu/mepphoto/124777.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tiziana BEGHIN</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Movimento 5 Stelle</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124867">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/124867" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Brando BENIFEI" src="https://www.europarl.europa.eu/mepphoto/124867.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Brando BENIFEI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-4746">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/4746" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sergio BERLATO" src="https://www.europarl.europa.eu/mepphoto/4746.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sergio BERLATO</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">FRATELLI D' ITALIA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197788">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/197788" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Anna BONFRISCO" src="https://www.europarl.europa.eu/mepphoto/197788.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Anna BONFRISCO</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-101039">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/101039" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Paolo BORCHIA" src="https://www.europarl.europa.eu/mepphoto/101039.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Paolo BORCHIA</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28346">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/28346" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mercedes BRESSO" src="https://www.europarl.europa.eu/mepphoto/28346.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mercedes BRESSO</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-35016">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/35016" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marco CAMPOMENOSI" src="https://www.europarl.europa.eu/mepphoto/35016.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marco CAMPOMENOSI</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197796">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/197796" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Massimo CASANOVA" src="https://www.europarl.europa.eu/mepphoto/197796.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Massimo CASANOVA</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124812">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/124812" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Fabio Massimo CASTALDO" src="https://www.europarl.europa.eu/mepphoto/124812.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Fabio Massimo CASTALDO</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Azione</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197786">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/197786" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Susanna CECCARDI" src="https://www.europarl.europa.eu/mepphoto/197786.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Susanna CECCARDI</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124861">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/124861" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Caterina CHINNICI" src="https://www.europarl.europa.eu/mepphoto/124861.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Caterina CHINNICI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Forza Italia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-183793">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/183793" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Angelo CIOCCA" src="https://www.europarl.europa.eu/mepphoto/183793.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Angelo CIOCCA</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96775">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/96775" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Lara COMI" src="https://www.europarl.europa.eu/mepphoto/96775.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Lara COMI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Forza Italia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197616">
			<meta itemprop="position" content="18">
			<a href="https://www.europarl.europa.eu/meps/fr/197616" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Rosanna CONTE" src="https://www.europarl.europa.eu/mepphoto/197616.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Rosanna CONTE</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124856">
			<meta itemprop="position" content="19">
			<a href="https://www.europarl.europa.eu/meps/fr/124856" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ignazio CORRAO" src="https://www.europarl.europa.eu/mepphoto/124856.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ignazio CORRAO</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-240478">
			<meta itemprop="position" content="20">
			<a href="https://www.europarl.europa.eu/meps/fr/240478" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Beatrice COVASSI" src="https://www.europarl.europa.eu/mepphoto/240478.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Beatrice COVASSI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96880">
			<meta itemprop="position" content="21">
			<a href="https://www.europarl.europa.eu/meps/fr/96880" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andrea COZZOLINO" src="https://www.europarl.europa.eu/mepphoto/96880.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andrea COZZOLINO</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124835">
			<meta itemprop="position" content="22">
			<a href="https://www.europarl.europa.eu/meps/fr/124835" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Rosa D'AMATO" src="https://www.europarl.europa.eu/mepphoto/124835.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Rosa D'AMATO</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124821">
			<meta itemprop="position" content="23">
			<a href="https://www.europarl.europa.eu/meps/fr/124821" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nicola DANTI" src="https://www.europarl.europa.eu/mepphoto/124821.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nicola DANTI</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italia Viva – Il Centro</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-239258">
			<meta itemprop="position" content="24">
			<a href="https://www.europarl.europa.eu/meps/fr/239258" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Maria Angela DANZÌ" src="https://www.europarl.europa.eu/mepphoto/239258.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Maria Angela DANZÌ</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Movimento 5 Stelle</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197608">
			<meta itemprop="position" content="25">
			<a href="https://www.europarl.europa.eu/meps/fr/197608" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Gianantonio DA RE" src="https://www.europarl.europa.eu/mepphoto/197608.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Gianantonio DA RE</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-239262">
			<meta itemprop="position" content="26">
			<a href="https://www.europarl.europa.eu/meps/fr/239262" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Elisabetta DE BLASIS" src="https://www.europarl.europa.eu/mepphoto/239262.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Elisabetta DE BLASIS</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">FRATELLI D' ITALIA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96891">
			<meta itemprop="position" content="27">
			<a href="https://www.europarl.europa.eu/meps/fr/96891" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Paolo DE CASTRO" src="https://www.europarl.europa.eu/mepphoto/96891.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Paolo DE CASTRO</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204333">
			<meta itemprop="position" content="28">
			<a href="https://www.europarl.europa.eu/meps/fr/204333" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Salvatore DE MEO" src="https://www.europarl.europa.eu/mepphoto/204333.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Salvatore DE MEO</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Forza Italia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197822">
			<meta itemprop="position" content="29">
			<a href="https://www.europarl.europa.eu/meps/fr/197822" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Francesca DONATO" src="https://www.europarl.europa.eu/mepphoto/197822.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Francesca DONATO</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Democrazia Cristiana</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96787">
			<meta itemprop="position" content="30">
			<a href="https://www.europarl.europa.eu/meps/fr/96787" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Herbert DORFMANN" src="https://www.europarl.europa.eu/mepphoto/96787.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Herbert DORFMANN</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Südtiroler Volkspartei</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-192634">
			<meta itemprop="position" content="31">
			<a href="https://www.europarl.europa.eu/meps/fr/192634" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Giuseppe FERRANDINO" src="https://www.europarl.europa.eu/mepphoto/192634.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Giuseppe FERRANDINO</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Azione</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124833">
			<meta itemprop="position" content="32">
			<a href="https://www.europarl.europa.eu/meps/fr/124833" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Laura FERRARA" src="https://www.europarl.europa.eu/mepphoto/124833.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Laura FERRARA</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Movimento 5 Stelle</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96810">
			<meta itemprop="position" content="33">
			<a href="https://www.europarl.europa.eu/meps/fr/96810" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Carlo FIDANZA" src="https://www.europarl.europa.eu/mepphoto/96810.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Carlo FIDANZA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">FRATELLI D' ITALIA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197607">
			<meta itemprop="position" content="34">
			<a href="https://www.europarl.europa.eu/meps/fr/197607" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pietro FIOCCHI" src="https://www.europarl.europa.eu/mepphoto/197607.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pietro FIOCCHI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">FRATELLI D' ITALIA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197795">
			<meta itemprop="position" content="35">
			<a href="https://www.europarl.europa.eu/meps/fr/197795" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mario FURORE" src="https://www.europarl.europa.eu/mepphoto/197795.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mario FURORE</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Movimento 5 Stelle</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197582">
			<meta itemprop="position" content="36">
			<a href="https://www.europarl.europa.eu/meps/fr/197582" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Gianna GANCIA" src="https://www.europarl.europa.eu/mepphoto/197582.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Gianna GANCIA</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-239255">
			<meta itemprop="position" content="37">
			<a href="https://www.europarl.europa.eu/meps/fr/239255" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Matteo GAZZINI" src="https://www.europarl.europa.eu/mepphoto/239255.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Matteo GAZZINI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197794">
			<meta itemprop="position" content="38">
			<a href="https://www.europarl.europa.eu/meps/fr/197794" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Chiara GEMMA" src="https://www.europarl.europa.eu/mepphoto/197794.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Chiara GEMMA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">FRATELLI D' ITALIA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-239256">
			<meta itemprop="position" content="39">
			<a href="https://www.europarl.europa.eu/meps/fr/239256" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Paola GHIDONI" src="https://www.europarl.europa.eu/mepphoto/239256.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Paola GHIDONI</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197804">
			<meta itemprop="position" content="40">
			<a href="https://www.europarl.europa.eu/meps/fr/197804" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dino GIARRUSSO" src="https://www.europarl.europa.eu/mepphoto/197804.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dino GIARRUSSO</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197799">
			<meta itemprop="position" content="41">
			<a href="https://www.europarl.europa.eu/meps/fr/197799" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Valentino GRANT" src="https://www.europarl.europa.eu/mepphoto/197799.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Valentino GRANT</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197618">
			<meta itemprop="position" content="42">
			<a href="https://www.europarl.europa.eu/meps/fr/197618" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Elisabetta GUALMINI" src="https://www.europarl.europa.eu/mepphoto/197618.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Elisabetta GUALMINI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-192635">
			<meta itemprop="position" content="43">
			<a href="https://www.europarl.europa.eu/meps/fr/192635" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Danilo Oscar LANCINI" src="https://www.europarl.europa.eu/mepphoto/192635.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Danilo Oscar LANCINI</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-230085">
			<meta itemprop="position" content="44">
			<a href="https://www.europarl.europa.eu/meps/fr/230085" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Camilla LAURETI" src="https://www.europarl.europa.eu/mepphoto/230085.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Camilla LAURETI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197611">
			<meta itemprop="position" content="45">
			<a href="https://www.europarl.europa.eu/meps/fr/197611" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Elena LIZZI" src="https://www.europarl.europa.eu/mepphoto/197611.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Elena LIZZI</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124828">
			<meta itemprop="position" content="46">
			<a href="https://www.europarl.europa.eu/meps/fr/124828" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Fulvio MARTUSCIELLO" src="https://www.europarl.europa.eu/mepphoto/124828.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Fulvio MARTUSCIELLO</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Forza Italia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197824">
			<meta itemprop="position" content="47">
			<a href="https://www.europarl.europa.eu/meps/fr/197824" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Giuseppe MILAZZO" src="https://www.europarl.europa.eu/mepphoto/197824.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Giuseppe MILAZZO</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">FRATELLI D' ITALIA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124799">
			<meta itemprop="position" content="48">
			<a href="https://www.europarl.europa.eu/meps/fr/124799" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alessandra MORETTI" src="https://www.europarl.europa.eu/mepphoto/124799.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alessandra MORETTI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28429">
			<meta itemprop="position" content="49">
			<a href="https://www.europarl.europa.eu/meps/fr/28429" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alessandra MUSSOLINI" src="https://www.europarl.europa.eu/mepphoto/28429.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alessandra MUSSOLINI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Forza Italia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-239260">
			<meta itemprop="position" content="50">
			<a href="https://www.europarl.europa.eu/meps/fr/239260" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Denis NESCI" src="https://www.europarl.europa.eu/mepphoto/239260.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Denis NESCI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">FRATELLI D' ITALIA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-99283">
			<meta itemprop="position" content="51">
			<a href="https://www.europarl.europa.eu/meps/fr/99283" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alessandro PANZA" src="https://www.europarl.europa.eu/mepphoto/99283.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alessandro PANZA</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-36392">
			<meta itemprop="position" content="52">
			<a href="https://www.europarl.europa.eu/meps/fr/36392" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Aldo PATRICIELLO" src="https://www.europarl.europa.eu/mepphoto/36392.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Aldo PATRICIELLO</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124844">
			<meta itemprop="position" content="53">
			<a href="https://www.europarl.europa.eu/meps/fr/124844" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Piernicola PEDICINI" src="https://www.europarl.europa.eu/mepphoto/124844.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Piernicola PEDICINI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-243979">
			<meta itemprop="position" content="54">
			<a href="https://www.europarl.europa.eu/meps/fr/243979" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Francesca PEPPUCCI" src="https://www.europarl.europa.eu/mepphoto/243979.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Francesca PEPPUCCI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Forza Italia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124846">
			<meta itemprop="position" content="55">
			<a href="https://www.europarl.europa.eu/meps/fr/124846" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pina PICIERNO" src="https://www.europarl.europa.eu/mepphoto/124846.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pina PICIERNO</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197619">
			<meta itemprop="position" content="56">
			<a href="https://www.europarl.europa.eu/meps/fr/197619" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sabrina PIGNEDOLI" src="https://www.europarl.europa.eu/mepphoto/197619.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sabrina PIGNEDOLI</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Movimento 5 Stelle</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197590">
			<meta itemprop="position" content="57">
			<a href="https://www.europarl.europa.eu/meps/fr/197590" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Giuliano PISAPIA" src="https://www.europarl.europa.eu/mepphoto/197590.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Giuliano PISAPIA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197820">
			<meta itemprop="position" content="58">
			<a href="https://www.europarl.europa.eu/meps/fr/197820" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nicola PROCACCINI" src="https://www.europarl.europa.eu/mepphoto/197820.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nicola PROCACCINI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">FRATELLI D' ITALIA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197787">
			<meta itemprop="position" content="59">
			<a href="https://www.europarl.europa.eu/meps/fr/197787" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Antonio Maria RINALDI" src="https://www.europarl.europa.eu/mepphoto/197787.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Antonio Maria RINALDI</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197801">
			<meta itemprop="position" content="60">
			<a href="https://www.europarl.europa.eu/meps/fr/197801" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Franco ROBERTI" src="https://www.europarl.europa.eu/mepphoto/197801.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Franco ROBERTI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197792">
			<meta itemprop="position" content="61">
			<a href="https://www.europarl.europa.eu/meps/fr/197792" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Daniela RONDINELLI" src="https://www.europarl.europa.eu/mepphoto/197792.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Daniela RONDINELLI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-243912">
			<meta itemprop="position" content="62">
			<a href="https://www.europarl.europa.eu/meps/fr/243912" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Maria Veronica ROSSI" src="https://www.europarl.europa.eu/mepphoto/243912.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Maria Veronica ROSSI</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125670">
			<meta itemprop="position" content="63">
			<a href="https://www.europarl.europa.eu/meps/fr/125670" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Massimiliano SALINI" src="https://www.europarl.europa.eu/mepphoto/125670.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Massimiliano SALINI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Forza Italia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197578">
			<meta itemprop="position" content="64">
			<a href="https://www.europarl.europa.eu/meps/fr/197578" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Silvia SARDONE" src="https://www.europarl.europa.eu/mepphoto/197578.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Silvia SARDONE</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197791">
			<meta itemprop="position" content="65">
			<a href="https://www.europarl.europa.eu/meps/fr/197791" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Massimiliano SMERIGLIO" src="https://www.europarl.europa.eu/mepphoto/197791.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Massimiliano SMERIGLIO</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Alleanza Verdi e Sinistra</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204334">
			<meta itemprop="position" content="66">
			<a href="https://www.europarl.europa.eu/meps/fr/204334" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Vincenzo SOFO" src="https://www.europarl.europa.eu/mepphoto/204334.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Vincenzo SOFO</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">FRATELLI D' ITALIA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197825">
			<meta itemprop="position" content="67">
			<a href="https://www.europarl.europa.eu/meps/fr/197825" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Raffaele STANCANELLI" src="https://www.europarl.europa.eu/mepphoto/197825.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Raffaele STANCANELLI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">FRATELLI D' ITALIA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197806">
			<meta itemprop="position" content="68">
			<a href="https://www.europarl.europa.eu/meps/fr/197806" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Annalisa TARDINO" src="https://www.europarl.europa.eu/mepphoto/197806.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Annalisa TARDINO</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197591">
			<meta itemprop="position" content="69">
			<a href="https://www.europarl.europa.eu/meps/fr/197591" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Irene TINAGLI" src="https://www.europarl.europa.eu/mepphoto/197591.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Irene TINAGLI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28340">
			<meta itemprop="position" content="70">
			<a href="https://www.europarl.europa.eu/meps/fr/28340" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Patrizia TOIA" src="https://www.europarl.europa.eu/mepphoto/28340.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Patrizia TOIA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197580">
			<meta itemprop="position" content="71">
			<a href="https://www.europarl.europa.eu/meps/fr/197580" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Isabella TOVAGLIERI" src="https://www.europarl.europa.eu/mepphoto/197580.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Isabella TOVAGLIERI</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-239257">
			<meta itemprop="position" content="72">
			<a href="https://www.europarl.europa.eu/meps/fr/239257" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Achille VARIATI" src="https://www.europarl.europa.eu/mepphoto/239257.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Achille VARIATI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partito Democratico</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197798">
			<meta itemprop="position" content="73">
			<a href="https://www.europarl.europa.eu/meps/fr/197798" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Lucia VUOLO" src="https://www.europarl.europa.eu/mepphoto/197798.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Lucia VUOLO</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Forza Italia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197586">
			<meta itemprop="position" content="74">
			<a href="https://www.europarl.europa.eu/meps/fr/197586" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Stefania ZAMBELLI" src="https://www.europarl.europa.eu/mepphoto/197586.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Stefania ZAMBELLI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Forza Italia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124780">
			<meta itemprop="position" content="75">
			<a href="https://www.europarl.europa.eu/meps/fr/124780" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marco ZANNI" src="https://www.europarl.europa.eu/mepphoto/124780.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marco ZANNI</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Lega</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125237">
			<meta itemprop="position" content="76">
			<a href="https://www.europarl.europa.eu/meps/fr/125237" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marco ZULLO" src="https://www.europarl.europa.eu/mepphoto/125237.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marco ZULLO</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Italie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
