<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-198096">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/198096" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mazaly AGUILAR" src="https://www.europarl.europa.eu/mepphoto/198096.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mazaly AGUILAR</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">VOX</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125045">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/125045" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Clara AGUILERA" src="https://www.europarl.europa.eu/mepphoto/125045.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Clara AGUILERA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96808">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/96808" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pablo ARIAS ECHEVERRÍA" src="https://www.europarl.europa.eu/mepphoto/96808.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pablo ARIAS ECHEVERRÍA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-247735">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/247735" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Laura BALLARÍN CEREZA" src="https://www.europarl.europa.eu/mepphoto/247735.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Laura BALLARÍN CEREZA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197779">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/197779" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="José Ramón BAUZÁ DÍAZ" src="https://www.europarl.europa.eu/mepphoto/197779.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">José Ramón BAUZÁ DÍAZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Ciudadanos – Partido de la Ciudadanía</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197679">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/197679" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Isabel BENJUMEA BENJUMEA" src="https://www.europarl.europa.eu/mepphoto/197679.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Isabel BENJUMEA BENJUMEA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96922">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/96922" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Izaskun BILBAO BARANDICA" src="https://www.europarl.europa.eu/mepphoto/96922.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Izaskun BILBAO BARANDICA</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Nacionalista Vasco</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197829">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/197829" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jorge BUXADÉ VILLALBA" src="https://www.europarl.europa.eu/mepphoto/197829.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jorge BUXADÉ VILLALBA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">VOX</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-126644">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/126644" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jordi CAÑAS" src="https://www.europarl.europa.eu/mepphoto/126644.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jordi CAÑAS</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Ciudadanos – Partido de la Ciudadanía</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-250572">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/250572" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Patricia CARO MAYA" src="https://www.europarl.europa.eu/mepphoto/250572.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Patricia CARO MAYA</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">PODEMOS</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28390">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/28390" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pilar del CASTILLO VERA" src="https://www.europarl.europa.eu/mepphoto/28390.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pilar DEL CASTILLO VERA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-247737">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/247737" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ana COLLADO JIMÉNEZ" src="https://www.europarl.europa.eu/mepphoto/247737.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ana COLLADO JIMÉNEZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-202352">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/202352" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Antoni COMÍN I OLIVERES" src="https://www.europarl.europa.eu/mepphoto/202352.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Antoni COMÍN I OLIVERES</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Junts per Catalunya - Lliures per Europa</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-198329">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/198329" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Estrella DURÁ FERRANDIS" src="https://www.europarl.europa.eu/mepphoto/198329.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Estrella DURÁ FERRANDIS</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96811">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/96811" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Rosa ESTARÀS FERRAGUT" src="https://www.europarl.europa.eu/mepphoto/96811.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Rosa ESTARÀS FERRAGUT</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125046">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/125046" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jonás FERNÁNDEZ" src="https://www.europarl.europa.eu/mepphoto/125046.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jonás FERNÁNDEZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197702">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/197702" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Lina GÁLVEZ MUÑOZ" src="https://www.europarl.europa.eu/mepphoto/197702.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Lina GÁLVEZ MUÑOZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197717">
			<meta itemprop="position" content="18">
			<a href="https://www.europarl.europa.eu/meps/fr/197717" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ibán GARCÍA DEL BLANCO" src="https://www.europarl.europa.eu/mepphoto/197717.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ibán GARCÍA DEL BLANCO</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-1992">
			<meta itemprop="position" content="19">
			<a href="https://www.europarl.europa.eu/meps/fr/1992" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="José Manuel GARCÍA-MARGALLO Y MARFIL" src="https://www.europarl.europa.eu/mepphoto/1992.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">José Manuel GARCÍA-MARGALLO Y MARFIL</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197742">
			<meta itemprop="position" content="20">
			<a href="https://www.europarl.europa.eu/meps/fr/197742" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Isabel GARCÍA MUÑOZ" src="https://www.europarl.europa.eu/mepphoto/197742.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Isabel GARCÍA MUÑOZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28298">
			<meta itemprop="position" content="21">
			<a href="https://www.europarl.europa.eu/meps/fr/28298" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Iratxe GARCÍA PÉREZ" src="https://www.europarl.europa.eu/mepphoto/28298.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Iratxe GARCÍA PÉREZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96991">
			<meta itemprop="position" content="22">
			<a href="https://www.europarl.europa.eu/meps/fr/96991" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Eider GARDIAZABAL RUBIAL" src="https://www.europarl.europa.eu/mepphoto/96991.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Eider GARDIAZABAL RUBIAL</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197728">
			<meta itemprop="position" content="23">
			<a href="https://www.europarl.europa.eu/meps/fr/197728" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mónica Silvana GONZÁLEZ" src="https://www.europarl.europa.eu/mepphoto/197728.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mónica Silvana GONZÁLEZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197718">
			<meta itemprop="position" content="24">
			<a href="https://www.europarl.europa.eu/meps/fr/197718" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nicolás GONZÁLEZ CASARES" src="https://www.europarl.europa.eu/mepphoto/197718.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nicolás GONZÁLEZ CASARES</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-122978">
			<meta itemprop="position" content="25">
			<a href="https://www.europarl.europa.eu/meps/fr/122978" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alicia HOMS GINEL" src="https://www.europarl.europa.eu/mepphoto/122978.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alicia HOMS GINEL</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125042">
			<meta itemprop="position" content="26">
			<a href="https://www.europarl.europa.eu/meps/fr/125042" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Javi LÓPEZ" src="https://www.europarl.europa.eu/mepphoto/125042.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Javi LÓPEZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partit dels Socialistes de Catalunya</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96812">
			<meta itemprop="position" content="27">
			<a href="https://www.europarl.europa.eu/meps/fr/96812" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Juan Fernando LÓPEZ AGUILAR" src="https://www.europarl.europa.eu/mepphoto/96812.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Juan Fernando LÓPEZ AGUILAR</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197777">
			<meta itemprop="position" content="28">
			<a href="https://www.europarl.europa.eu/meps/fr/197777" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Leopoldo LÓPEZ GIL" src="https://www.europarl.europa.eu/mepphoto/197777.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Leopoldo LÓPEZ GIL</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28399">
			<meta itemprop="position" content="29">
			<a href="https://www.europarl.europa.eu/meps/fr/28399" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Antonio LÓPEZ-ISTÚRIZ WHITE" src="https://www.europarl.europa.eu/mepphoto/28399.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Antonio LÓPEZ-ISTÚRIZ WHITE</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197721">
			<meta itemprop="position" content="30">
			<a href="https://www.europarl.europa.eu/meps/fr/197721" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="César LUENA" src="https://www.europarl.europa.eu/mepphoto/197721.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">César LUENA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197719">
			<meta itemprop="position" content="31">
			<a href="https://www.europarl.europa.eu/meps/fr/197719" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Cristina MAESTRE MARTÍN DE ALMAGRO" src="https://www.europarl.europa.eu/mepphoto/197719.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Cristina MAESTRE MARTÍN DE ALMAGRO</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96936">
			<meta itemprop="position" content="32">
			<a href="https://www.europarl.europa.eu/meps/fr/96936" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Gabriel MATO" src="https://www.europarl.europa.eu/mepphoto/96936.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Gabriel MATO</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28400">
			<meta itemprop="position" content="33">
			<a href="https://www.europarl.europa.eu/meps/fr/28400" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Francisco José MILLÁN MON" src="https://www.europarl.europa.eu/mepphoto/28400.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Francisco José MILLÁN MON</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-24942">
			<meta itemprop="position" content="34">
			<a href="https://www.europarl.europa.eu/meps/fr/24942" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ana MIRANDA" src="https://www.europarl.europa.eu/mepphoto/24942.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ana MIRANDA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Bloque Nacionalista Galego</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197711">
			<meta itemprop="position" content="35">
			<a href="https://www.europarl.europa.eu/meps/fr/197711" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dolors MONTSERRAT" src="https://www.europarl.europa.eu/mepphoto/197711.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dolors MONTSERRAT</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28347">
			<meta itemprop="position" content="36">
			<a href="https://www.europarl.europa.eu/meps/fr/28347" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Javier MORENO SÁNCHEZ" src="https://www.europarl.europa.eu/mepphoto/28347.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Javier MORENO SÁNCHEZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125005">
			<meta itemprop="position" content="37">
			<a href="https://www.europarl.europa.eu/meps/fr/125005" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Javier NART" src="https://www.europarl.europa.eu/mepphoto/125005.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Javier NART</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independiente</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125038">
			<meta itemprop="position" content="38">
			<a href="https://www.europarl.europa.eu/meps/fr/125038" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Maite PAGAZAURTUNDÚA" src="https://www.europarl.europa.eu/mepphoto/125038.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Maite PAGAZAURTUNDÚA</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Delegación Ciudadanos Europeos</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197828">
			<meta itemprop="position" content="39">
			<a href="https://www.europarl.europa.eu/meps/fr/197828" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Manu PINEDA" src="https://www.europarl.europa.eu/mepphoto/197828.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Manu PINEDA</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Izquierda Unida</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204414">
			<meta itemprop="position" content="40">
			<a href="https://www.europarl.europa.eu/meps/fr/204414" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Margarita DE LA PISA CARRIÓN" src="https://www.europarl.europa.eu/mepphoto/204414.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Margarita DE LA PISA CARRIÓN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">VOX</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204443">
			<meta itemprop="position" content="41">
			<a href="https://www.europarl.europa.eu/meps/fr/204443" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Clara PONSATÍ OBIOLS" src="https://www.europarl.europa.eu/mepphoto/204443.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Clara PONSATÍ OBIOLS</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Junts per Catalunya - Lliures per Europa</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-237320">
			<meta itemprop="position" content="42">
			<a href="https://www.europarl.europa.eu/meps/fr/237320" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Eva Maria POPTCHEVA" src="https://www.europarl.europa.eu/mepphoto/237320.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Eva Maria POPTCHEVA</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Ciudadanos – Partido de la Ciudadanía</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-202351">
			<meta itemprop="position" content="43">
			<a href="https://www.europarl.europa.eu/meps/fr/202351" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Carles PUIGDEMONT I CASAMAJÓ" src="https://www.europarl.europa.eu/mepphoto/202351.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Carles PUIGDEMONT I CASAMAJÓ</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Junts per Catalunya - Lliures per Europa</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197832">
			<meta itemprop="position" content="44">
			<a href="https://www.europarl.europa.eu/meps/fr/197832" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Diana RIBA I GINER" src="https://www.europarl.europa.eu/mepphoto/197832.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Diana RIBA I GINER</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Esquerra Republicana de Catalunya</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125043">
			<meta itemprop="position" content="45">
			<a href="https://www.europarl.europa.eu/meps/fr/125043" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Inma RODRÍGUEZ-PIÑERO" src="https://www.europarl.europa.eu/mepphoto/125043.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Inma RODRÍGUEZ-PIÑERO</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197785">
			<meta itemprop="position" content="46">
			<a href="https://www.europarl.europa.eu/meps/fr/197785" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Eugenia RODRÍGUEZ PALOP" src="https://www.europarl.europa.eu/mepphoto/197785.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Eugenia RODRÍGUEZ PALOP</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">PODEMOS</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-4344">
			<meta itemprop="position" content="47">
			<a href="https://www.europarl.europa.eu/meps/fr/4344" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="María Soraya RODRÍGUEZ RAMOS" src="https://www.europarl.europa.eu/mepphoto/4344.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">María Soraya RODRÍGUEZ RAMOS</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Ciudadanos – Partido de la Ciudadanía</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204413">
			<meta itemprop="position" content="48">
			<a href="https://www.europarl.europa.eu/meps/fr/204413" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marcos ROS SEMPERE" src="https://www.europarl.europa.eu/mepphoto/204413.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marcos ROS SEMPERE</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-127096">
			<meta itemprop="position" content="49">
			<a href="https://www.europarl.europa.eu/meps/fr/127096" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Domènec RUIZ DEVESA" src="https://www.europarl.europa.eu/mepphoto/127096.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Domènec RUIZ DEVESA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197722">
			<meta itemprop="position" content="50">
			<a href="https://www.europarl.europa.eu/meps/fr/197722" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nacho SÁNCHEZ AMOR" src="https://www.europarl.europa.eu/mepphoto/197722.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nacho SÁNCHEZ AMOR</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Socialista Obrero Español</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-251249">
			<meta itemprop="position" content="51">
			<a href="https://www.europarl.europa.eu/meps/fr/251249" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Esther SANZ SELVA" src="https://www.europarl.europa.eu/mepphoto/251249.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Esther SANZ SELVA</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">PODEMOS</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-185974">
			<meta itemprop="position" content="52">
			<a href="https://www.europarl.europa.eu/meps/fr/185974" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jordi SOLÉ" src="https://www.europarl.europa.eu/mepphoto/185974.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jordi SOLÉ</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Esquerra Republicana de Catalunya</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197784">
			<meta itemprop="position" content="53">
			<a href="https://www.europarl.europa.eu/meps/fr/197784" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Susana SOLÍS PÉREZ" src="https://www.europarl.europa.eu/mepphoto/197784.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Susana SOLÍS PÉREZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Ciudadanos – Partido de la Ciudadanía</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197831">
			<meta itemprop="position" content="54">
			<a href="https://www.europarl.europa.eu/meps/fr/197831" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Hermann TERTSCH" src="https://www.europarl.europa.eu/mepphoto/197831.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Hermann TERTSCH</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">VOX</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-131507">
			<meta itemprop="position" content="55">
			<a href="https://www.europarl.europa.eu/meps/fr/131507" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Miguel URBÁN CRESPO" src="https://www.europarl.europa.eu/mepphoto/131507.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Miguel URBÁN CRESPO</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">ANTICAPITALISTAS</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197827">
			<meta itemprop="position" content="56">
			<a href="https://www.europarl.europa.eu/meps/fr/197827" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Idoia VILLANUEVA RUIZ" src="https://www.europarl.europa.eu/mepphoto/197827.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Idoia VILLANUEVA RUIZ</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">PODEMOS</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204400">
			<meta itemprop="position" content="57">
			<a href="https://www.europarl.europa.eu/meps/fr/204400" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Adrián VÁZQUEZ LÁZARA" src="https://www.europarl.europa.eu/mepphoto/204400.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Adrián VÁZQUEZ LÁZARA</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Ciudadanos – Partido de la Ciudadanía</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197606">
			<meta itemprop="position" content="58">
			<a href="https://www.europarl.europa.eu/meps/fr/197606" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Javier ZARZALEJOS" src="https://www.europarl.europa.eu/mepphoto/197606.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Javier ZARZALEJOS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197621">
			<meta itemprop="position" content="59">
			<a href="https://www.europarl.europa.eu/meps/fr/197621" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Juan Ignacio ZOIDO ÁLVAREZ" src="https://www.europarl.europa.eu/mepphoto/197621.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Juan Ignacio ZOIDO ÁLVAREZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Espagne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partido Popular</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
