<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197701">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/197701" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Konstantinos ARVANITIS" src="https://www.europarl.europa.eu/mepphoto/197701.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Konstantinos ARVANITIS</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Coalition of the Radical Left</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197695">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197695" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Anna-Michelle ASIMAKOPOULOU" src="https://www.europarl.europa.eu/mepphoto/197695.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Anna-Michelle ASIMAKOPOULOU</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nea Demokratia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-198490">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/198490" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Emmanouil FRAGKOS" src="https://www.europarl.europa.eu/mepphoto/198490.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Emmanouil FRAGKOS</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Elliniki Lusi-Greek Solution</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197819">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/197819" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alexis GEORGOULIS" src="https://www.europarl.europa.eu/mepphoto/197819.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alexis GEORGOULIS</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125109">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/125109" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Eva KAILI" src="https://www.europarl.europa.eu/mepphoto/125109.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Eva KAILI</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125068">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/125068" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Manolis KEFALOGIANNIS" src="https://www.europarl.europa.eu/mepphoto/125068.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Manolis KEFALOGIANNIS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nea Demokratia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197743">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/197743" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Petros KOKKALIS" src="https://www.europarl.europa.eu/mepphoto/197743.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Petros KOKKALIS</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">KOSMOS</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197740">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/197740" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Athanasios KONSTANTINOU" src="https://www.europarl.europa.eu/mepphoto/197740.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Athanasios KONSTANTINOU</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-130833">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/130833" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Stelios KOULOGLOU" src="https://www.europarl.europa.eu/mepphoto/130833.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Stelios KOULOGLOU</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">New Left</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197699">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/197699" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Elena KOUNTOURA" src="https://www.europarl.europa.eu/mepphoto/197699.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Elena KOUNTOURA</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Coalition of the Radical Left</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197692">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/197692" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Stelios KYMPOUROPOULOS" src="https://www.europarl.europa.eu/mepphoto/197692.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Stelios KYMPOUROPOULOS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nea Demokratia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125063">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/125063" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Georgios KYRTSOS" src="https://www.europarl.europa.eu/mepphoto/125063.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Georgios KYRTSOS</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197737">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/197737" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ioannis LAGOS" src="https://www.europarl.europa.eu/mepphoto/197737.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ioannis LAGOS</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197662">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/197662" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Vangelis MEIMARAKIS" src="https://www.europarl.europa.eu/mepphoto/197662.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Vangelis MEIMARAKIS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nea Demokratia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197734">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/197734" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Lefteris NIKOLAOU-ALAVANOS" src="https://www.europarl.europa.eu/mepphoto/197734.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Lefteris NIKOLAOU-ALAVANOS</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Communist Party of Greece</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125093">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/125093" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Kostas PAPADAKIS" src="https://www.europarl.europa.eu/mepphoto/125093.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Kostas PAPADAKIS</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Communist Party of Greece</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28586">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/28586" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dimitrios PAPADIMOULIS" src="https://www.europarl.europa.eu/mepphoto/28586.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dimitrios PAPADIMOULIS</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">New Left</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-244571">
			<meta itemprop="position" content="18">
			<a href="https://www.europarl.europa.eu/meps/fr/244571" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nikos PAPANDREOU" src="https://www.europarl.europa.eu/mepphoto/244571.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nikos PAPANDREOU</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">PASOK-KINAL</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125064">
			<meta itemprop="position" content="19">
			<a href="https://www.europarl.europa.eu/meps/fr/125064" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Maria SPYRAKI" src="https://www.europarl.europa.eu/mepphoto/125064.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Maria SPYRAKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nea Demokratia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125065">
			<meta itemprop="position" content="20">
			<a href="https://www.europarl.europa.eu/meps/fr/125065" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Elissavet VOZEMBERG-VRIONIDI" src="https://www.europarl.europa.eu/mepphoto/125065.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Elissavet VOZEMBERG-VRIONIDI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nea Demokratia</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125067">
			<meta itemprop="position" content="21">
			<a href="https://www.europarl.europa.eu/meps/fr/125067" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Theodoros ZAGORAKIS" src="https://www.europarl.europa.eu/mepphoto/125067.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Theodoros ZAGORAKIS</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Grèce</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
