<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197403">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/197403" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alex AGIUS SALIBA" src="https://www.europarl.europa.eu/mepphoto/197403.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alex AGIUS SALIBA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Malte</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partit Laburista</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28122">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/28122" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="David CASA" src="https://www.europarl.europa.eu/mepphoto/28122.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">David CASA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Malte</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partit Nazzjonalista</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197394">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197394" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Josianne CUTAJAR" src="https://www.europarl.europa.eu/mepphoto/197394.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Josianne CUTAJAR</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Malte</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partit Laburista</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-209091">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/209091" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Cyrus ENGERER" src="https://www.europarl.europa.eu/mepphoto/209091.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Cyrus ENGERER</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Malte</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partit Laburista</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-118859">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/118859" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Roberta METSOLA" src="https://www.europarl.europa.eu/mepphoto/118859.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Roberta METSOLA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Malte</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partit Nazzjonalista</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124781">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/124781" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alfred SANT" src="https://www.europarl.europa.eu/mepphoto/124781.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alfred SANT</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Malte</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partit Laburista</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
