<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197648">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/197648" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alexander BERNHUBER" src="https://www.europarl.europa.eu/mepphoto/197648.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alexander BERNHUBER</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Österreichische Volkspartei</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197632">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197632" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Claudia GAMON" src="https://www.europarl.europa.eu/mepphoto/197632.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Claudia GAMON</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">NEOS – Das Neue Österreich</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-198176">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/198176" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Roman HAIDER" src="https://www.europarl.europa.eu/mepphoto/198176.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Roman HAIDER</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Freiheitliche Partei Österreichs</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197682">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/197682" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Hannes HEIDE" src="https://www.europarl.europa.eu/mepphoto/197682.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Hannes HEIDE</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sozialdemokratische Partei Österreichs</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-4246">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/4246" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Othmar KARAS" src="https://www.europarl.europa.eu/mepphoto/4246.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Othmar KARAS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Österreichische Volkspartei</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-190713">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/190713" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Lukas MANDL" src="https://www.europarl.europa.eu/mepphoto/190713.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Lukas MANDL</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Österreichische Volkspartei</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-38511">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/38511" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Georg MAYER" src="https://www.europarl.europa.eu/mepphoto/38511.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Georg MAYER</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Freiheitliche Partei Österreichs</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-238674">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/238674" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Theresa BIELOWSKI" src="https://www.europarl.europa.eu/mepphoto/238674.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Theresa BIELOWSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sozialdemokratische Partei Österreichs</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-249443">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/249443" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Wolfram PIRCHNER" src="https://www.europarl.europa.eu/mepphoto/249443.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Wolfram PIRCHNER</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Österreichische Volkspartei</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96998">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/96998" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Evelyn REGNER" src="https://www.europarl.europa.eu/mepphoto/96998.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Evelyn REGNER</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sozialdemokratische Partei Österreichs</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204368">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/204368" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Christian SAGARTZ" src="https://www.europarl.europa.eu/mepphoto/204368.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Christian SAGARTZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Österreichische Volkspartei</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197670">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/197670" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andreas SCHIEDER" src="https://www.europarl.europa.eu/mepphoto/197670.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andreas SCHIEDER</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sozialdemokratische Partei Österreichs</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197677">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/197677" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Günther SIDL" src="https://www.europarl.europa.eu/mepphoto/197677.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Günther SIDL</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sozialdemokratische Partei Österreichs</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197667">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/197667" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Barbara THALER" src="https://www.europarl.europa.eu/mepphoto/197667.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Barbara THALER</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Österreichische Volkspartei</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124934">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/124934" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Monika VANA" src="https://www.europarl.europa.eu/mepphoto/124934.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Monika VANA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Die Grünen - Die Grüne Alternative</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125001">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/125001" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Harald VILIMSKY" src="https://www.europarl.europa.eu/mepphoto/125001.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Harald VILIMSKY</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Freiheitliche Partei Österreichs</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-190464">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/190464" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Thomas WAITZ" src="https://www.europarl.europa.eu/mepphoto/190464.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Thomas WAITZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Die Grünen - Die Grüne Alternative</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197675">
			<meta itemprop="position" content="18">
			<a href="https://www.europarl.europa.eu/meps/fr/197675" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sarah WIENER" src="https://www.europarl.europa.eu/mepphoto/197675.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sarah WIENER</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Die Grünen - Die Grüne Alternative</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197652">
			<meta itemprop="position" content="19">
			<a href="https://www.europarl.europa.eu/meps/fr/197652" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Angelika WINZIG" src="https://www.europarl.europa.eu/mepphoto/197652.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Angelika WINZIG</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Autriche</span>

							
								<br>
							
						
							<span class="sln-additional-info">Österreichische Volkspartei</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
