<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204335">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/204335" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alviina ALAMETSÄ" src="https://www.europarl.europa.eu/mepphoto/204335.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alviina ALAMETSÄ</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Vihreä liitto</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197596">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197596" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Teuvo HAKKARAINEN" src="https://www.europarl.europa.eu/mepphoto/197596.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Teuvo HAKKARAINEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-2054">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/2054" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Heidi HAUTALA" src="https://www.europarl.europa.eu/mepphoto/2054.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Heidi HAUTALA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Vihreä liitto</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197800">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/197800" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Eero HEINÄLUOMA" src="https://www.europarl.europa.eu/mepphoto/197800.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Eero HEINÄLUOMA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suomen Sosialidemokraattinen Puolue/Finlands Socialdemokratiska Parti</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-191693">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/191693" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Elsi KATAINEN" src="https://www.europarl.europa.eu/mepphoto/191693.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Elsi KATAINEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suomen Keskusta</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124735">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/124735" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Miapetra KUMPULA-NATRI" src="https://www.europarl.europa.eu/mepphoto/124735.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Miapetra KUMPULA-NATRI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suomen Sosialidemokraattinen Puolue/Finlands Socialdemokratiska Parti</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197805">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/197805" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Silvia MODIG" src="https://www.europarl.europa.eu/mepphoto/197805.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Silvia MODIG</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Vasemmistoliitto</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197802">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/197802" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ville NIINISTÖ" src="https://www.europarl.europa.eu/mepphoto/197802.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ville NIINISTÖ</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Vihreä liitto</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197563">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/197563" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mauri PEKKARINEN" src="https://www.europarl.europa.eu/mepphoto/197563.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mauri PEKKARINEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suomen Keskusta</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-40599">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/40599" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sirpa PIETIKÄINEN" src="https://www.europarl.europa.eu/mepphoto/40599.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sirpa PIETIKÄINEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Kansallinen Kokoomus</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-132366">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/132366" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pirkko RUOHONEN-LERNER" src="https://www.europarl.europa.eu/mepphoto/132366.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pirkko RUOHONEN-LERNER</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Perussuomalaiset</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-112611">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/112611" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Petri SARVAMAA" src="https://www.europarl.europa.eu/mepphoto/112611.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Petri SARVAMAA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Kansallinen Kokoomus</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-114268">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/114268" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nils TORVALDS" src="https://www.europarl.europa.eu/mepphoto/114268.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nils TORVALDS</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Svenska folkpartiet</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124726">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/124726" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Henna VIRKKUNEN" src="https://www.europarl.europa.eu/mepphoto/124726.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Henna VIRKKUNEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Finlande</span>

							
								<br>
							
						
							<span class="sln-additional-info">Kansallinen Kokoomus</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
