<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125004">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/125004" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Franc BOGOVIČ" src="https://www.europarl.europa.eu/mepphoto/125004.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Franc BOGOVIČ</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovénie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovenska ljudska stranka</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197446">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197446" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Milan BRGLEZ" src="https://www.europarl.europa.eu/mepphoto/197446.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Milan BRGLEZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovénie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Socialni demokrati</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197452">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197452" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Klemen GROŠELJ" src="https://www.europarl.europa.eu/mepphoto/197452.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Klemen GROŠELJ</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovénie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Zeleni Slovenije</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197447">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/197447" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Irena JOVEVA" src="https://www.europarl.europa.eu/mepphoto/197447.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Irena JOVEVA</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovénie</span>

							
								<br>
							
						
							<span class="sln-additional-info">GS</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-233862">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/233862" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Matjaž NEMEC" src="https://www.europarl.europa.eu/mepphoto/233862.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Matjaž NEMEC</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovénie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Socialni demokrati</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28294">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/28294" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ljudmila NOVAK" src="https://www.europarl.europa.eu/mepphoto/28294.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ljudmila NOVAK</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovénie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nova Slovenija – Krščanski demokrati</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125104">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/125104" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Romana TOMC" src="https://www.europarl.europa.eu/mepphoto/125104.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Romana TOMC</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovénie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovenska demokratska stranka</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96933">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/96933" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Milan ZVER" src="https://www.europarl.europa.eu/mepphoto/96933.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Milan ZVER</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovénie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Slovenska demokratska stranka</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
