<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197400">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/197400" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Abir AL-SAHLANI" src="https://www.europarl.europa.eu/mepphoto/197400.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Abir AL-SAHLANI</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Centerpartiet</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124992">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/124992" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Malin BJÖRK" src="https://www.europarl.europa.eu/mepphoto/124992.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Malin BJÖRK</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Vänsterpartiet</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-183338">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/183338" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jakop G. DALUNDE" src="https://www.europarl.europa.eu/mepphoto/183338.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jakop G. DALUNDE</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Miljöpartiet de gröna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-228604">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/228604" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ilan DE BASSO" src="https://www.europarl.europa.eu/mepphoto/228604.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ilan DE BASSO</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Arbetarepartiet- Socialdemokraterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197391">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/197391" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Heléne FRITZON" src="https://www.europarl.europa.eu/mepphoto/197391.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Heléne FRITZON</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Arbetarepartiet- Socialdemokraterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-253008">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/253008" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Linus GLANZELIUS" src="https://www.europarl.europa.eu/mepphoto/253008.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Linus GLANZELIUS</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Arbetarepartiet- Socialdemokraterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197398">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/197398" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pär HOLMGREN" src="https://www.europarl.europa.eu/mepphoto/197398.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pär HOLMGREN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Miljöpartiet de gröna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197392">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/197392" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Evin INCIR" src="https://www.europarl.europa.eu/mepphoto/197392.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Evin INCIR</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Arbetarepartiet- Socialdemokraterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197401">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/197401" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Karin KARLSBRO" src="https://www.europarl.europa.eu/mepphoto/197401.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Karin KARLSBRO</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Liberalerna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197406">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/197406" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Arba KOKALARI" src="https://www.europarl.europa.eu/mepphoto/197406.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Arba KOKALARI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Moderaterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197395">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/197395" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Alice KUHNKE" src="https://www.europarl.europa.eu/mepphoto/197395.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Alice KUHNKE</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Miljöpartiet de gröna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197393">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/197393" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="David LEGA" src="https://www.europarl.europa.eu/mepphoto/197393.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">David LEGA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Kristdemokraterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124996">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/124996" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Peter LUNDGREN" src="https://www.europarl.europa.eu/mepphoto/124996.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Peter LUNDGREN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sverigedemokraterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-238639">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/238639" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Johan NISSINEN" src="https://www.europarl.europa.eu/mepphoto/238639.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Johan NISSINEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sverigedemokraterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-237779">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/237779" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Carina OHLSSON" src="https://www.europarl.europa.eu/mepphoto/237779.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Carina OHLSSON</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Arbetarepartiet- Socialdemokraterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197404">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/197404" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jessica POLFJÄRD" src="https://www.europarl.europa.eu/mepphoto/197404.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jessica POLFJÄRD</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Moderaterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197390">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/197390" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sara SKYTTEDAL" src="https://www.europarl.europa.eu/mepphoto/197390.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sara SKYTTEDAL</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Folklistan</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197402">
			<meta itemprop="position" content="18">
			<a href="https://www.europarl.europa.eu/meps/fr/197402" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tomas TOBÉ" src="https://www.europarl.europa.eu/mepphoto/197402.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tomas TOBÉ</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Moderaterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197405">
			<meta itemprop="position" content="19">
			<a href="https://www.europarl.europa.eu/meps/fr/197405" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jörgen WARBORN" src="https://www.europarl.europa.eu/mepphoto/197405.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jörgen WARBORN</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Moderaterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-123562">
			<meta itemprop="position" content="20">
			<a href="https://www.europarl.europa.eu/meps/fr/123562" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Charlie WEIMERS" src="https://www.europarl.europa.eu/mepphoto/123562.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Charlie WEIMERS</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sverigedemokraterna</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-214839">
			<meta itemprop="position" content="21">
			<a href="https://www.europarl.europa.eu/meps/fr/214839" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Emma WIESNER" src="https://www.europarl.europa.eu/mepphoto/214839.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Emma WIESNER</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suède</span>

							
								<br>
							
						
							<span class="sln-additional-info">Centerpartiet</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
