<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197490">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/197490" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Magdalena ADAMOWICZ" src="https://www.europarl.europa.eu/mepphoto/197490.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Magdalena ADAMOWICZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197495">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197495" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marek Paweł BALT" src="https://www.europarl.europa.eu/mepphoto/197495.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marek Paweł BALT</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nowa Lewica</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197496">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197496" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marek BELKA" src="https://www.europarl.europa.eu/mepphoto/197496.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marek BELKA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nowa Lewica</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197498">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/197498" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Robert BIEDROŃ" src="https://www.europarl.europa.eu/mepphoto/197498.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Robert BIEDROŃ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nowa Lewica</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-23788">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/23788" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Adam BIELAN" src="https://www.europarl.europa.eu/mepphoto/23788.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Adam BIELAN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-251324">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/251324" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Krzysztof BREJZA" src="https://www.europarl.europa.eu/mepphoto/251324.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Krzysztof BREJZA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Platforma Obywatelska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197501">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/197501" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Joachim Stanisław BRUDZIŃSKI" src="https://www.europarl.europa.eu/mepphoto/197501.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Joachim Stanisław BRUDZIŃSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28269">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/28269" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jerzy BUZEK" src="https://www.europarl.europa.eu/mepphoto/28269.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jerzy BUZEK</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Platforma Obywatelska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197507">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/197507" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Włodzimierz CIMOSZEWICZ" src="https://www.europarl.europa.eu/mepphoto/197507.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Włodzimierz CIMOSZEWICZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sojusz Lewicy Demokratycznej - Unia Pracy</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28372">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/28372" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ryszard CZARNECKI" src="https://www.europarl.europa.eu/mepphoto/28372.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ryszard CZARNECKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197510">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/197510" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jarosław DUDA" src="https://www.europarl.europa.eu/mepphoto/197510.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jarosław DUDA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Platforma Obywatelska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28353">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/28353" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Anna FOTYGA" src="https://www.europarl.europa.eu/mepphoto/28353.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Anna FOTYGA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197513">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/197513" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tomasz FRANKOWSKI" src="https://www.europarl.europa.eu/mepphoto/197513.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tomasz FRANKOWSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Platforma Obywatelska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197514">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/197514" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andrzej HALICKI" src="https://www.europarl.europa.eu/mepphoto/197514.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andrzej HALICKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Platforma Obywatelska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96779">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/96779" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Danuta Maria HÜBNER" src="https://www.europarl.europa.eu/mepphoto/96779.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Danuta Maria HÜBNER</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Platforma Obywatelska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197516">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/197516" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Patryk JAKI" src="https://www.europarl.europa.eu/mepphoto/197516.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Patryk JAKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Solidarna Polska Zbigniewa Ziobro</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197517">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/197517" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Adam JARUBAS" src="https://www.europarl.europa.eu/mepphoto/197517.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Adam JARUBAS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Polskie Stronnictwo Ludowe</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197518">
			<meta itemprop="position" content="18">
			<a href="https://www.europarl.europa.eu/meps/fr/197518" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Krzysztof JURGIEL" src="https://www.europarl.europa.eu/mepphoto/197518.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Krzysztof JURGIEL</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96771">
			<meta itemprop="position" content="19">
			<a href="https://www.europarl.europa.eu/meps/fr/96771" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jarosław KALINOWSKI" src="https://www.europarl.europa.eu/mepphoto/96771.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jarosław KALINOWSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Polskie Stronnictwo Ludowe</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-250237">
			<meta itemprop="position" content="20">
			<a href="https://www.europarl.europa.eu/meps/fr/250237" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Włodzimierz KARPIŃSKI" src="https://www.europarl.europa.eu/mepphoto/250237.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Włodzimierz Witold KARPIŃSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124887">
			<meta itemprop="position" content="21">
			<a href="https://www.europarl.europa.eu/meps/fr/124887" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Karol KARSKI" src="https://www.europarl.europa.eu/mepphoto/124887.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Karol KARSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197519">
			<meta itemprop="position" content="22">
			<a href="https://www.europarl.europa.eu/meps/fr/197519" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Beata KEMPA" src="https://www.europarl.europa.eu/mepphoto/197519.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Beata KEMPA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Suwerenna Polska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197520">
			<meta itemprop="position" content="23">
			<a href="https://www.europarl.europa.eu/meps/fr/197520" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Izabela-Helena KLOC" src="https://www.europarl.europa.eu/mepphoto/197520.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Izabela-Helena KLOC</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197523">
			<meta itemprop="position" content="24">
			<a href="https://www.europarl.europa.eu/meps/fr/197523" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Łukasz KOHUT" src="https://www.europarl.europa.eu/mepphoto/197523.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Łukasz KOHUT</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nowa Lewica</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197525">
			<meta itemprop="position" content="25">
			<a href="https://www.europarl.europa.eu/meps/fr/197525" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ewa KOPACZ" src="https://www.europarl.europa.eu/mepphoto/197525.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ewa KOPACZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Platforma Obywatelska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197530">
			<meta itemprop="position" content="26">
			<a href="https://www.europarl.europa.eu/meps/fr/197530" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Joanna KOPCIŃSKA" src="https://www.europarl.europa.eu/mepphoto/197530.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Joanna KOPCIŃSKA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124891">
			<meta itemprop="position" content="27">
			<a href="https://www.europarl.europa.eu/meps/fr/124891" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Zdzisław KRASNODĘBSKI" src="https://www.europarl.europa.eu/mepphoto/124891.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Zdzisław KRASNODĘBSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197532">
			<meta itemprop="position" content="28">
			<a href="https://www.europarl.europa.eu/meps/fr/197532" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Elżbieta KRUK" src="https://www.europarl.europa.eu/mepphoto/197532.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Elżbieta KRUK</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96796">
			<meta itemprop="position" content="29">
			<a href="https://www.europarl.europa.eu/meps/fr/96796" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ryszard Antoni LEGUTKO" src="https://www.europarl.europa.eu/mepphoto/96796.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ryszard Antoni LEGUTKO</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-23781">
			<meta itemprop="position" content="30">
			<a href="https://www.europarl.europa.eu/meps/fr/23781" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Janusz LEWANDOWSKI" src="https://www.europarl.europa.eu/mepphoto/23781.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Janusz LEWANDOWSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Platforma Obywatelska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-23768">
			<meta itemprop="position" content="31">
			<a href="https://www.europarl.europa.eu/meps/fr/23768" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Bogusław LIBERADZKI" src="https://www.europarl.europa.eu/mepphoto/23768.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Bogusław LIBERADZKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nowa Lewica</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96791">
			<meta itemprop="position" content="32">
			<a href="https://www.europarl.europa.eu/meps/fr/96791" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Elżbieta Katarzyna ŁUKACIJEWSKA" src="https://www.europarl.europa.eu/mepphoto/96791.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Elżbieta Katarzyna ŁUKACIJEWSKA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Platforma Obywatelska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197538">
			<meta itemprop="position" content="33">
			<a href="https://www.europarl.europa.eu/meps/fr/197538" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Beata MAZUREK" src="https://www.europarl.europa.eu/mepphoto/197538.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Beata MAZUREK</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197540">
			<meta itemprop="position" content="34">
			<a href="https://www.europarl.europa.eu/meps/fr/197540" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Leszek MILLER" src="https://www.europarl.europa.eu/mepphoto/197540.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Leszek MILLER</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197541">
			<meta itemprop="position" content="35">
			<a href="https://www.europarl.europa.eu/meps/fr/197541" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andżelika Anna MOŻDŻANOWSKA" src="https://www.europarl.europa.eu/mepphoto/197541.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andżelika Anna MOŻDŻANOWSKA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197542">
			<meta itemprop="position" content="36">
			<a href="https://www.europarl.europa.eu/meps/fr/197542" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Janina OCHOJSKA" src="https://www.europarl.europa.eu/mepphoto/197542.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Janina OCHOJSKA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28288">
			<meta itemprop="position" content="37">
			<a href="https://www.europarl.europa.eu/meps/fr/28288" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jan OLBRYCHT" src="https://www.europarl.europa.eu/mepphoto/28288.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jan OLBRYCHT</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Platforma Obywatelska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-250235">
			<meta itemprop="position" content="38">
			<a href="https://www.europarl.europa.eu/meps/fr/250235" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Witold PAHL" src="https://www.europarl.europa.eu/mepphoto/250235.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Witold PAHL</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Platforma Obywatelska</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96801">
			<meta itemprop="position" content="39">
			<a href="https://www.europarl.europa.eu/meps/fr/96801" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tomasz Piotr PORĘBA" src="https://www.europarl.europa.eu/mepphoto/96801.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tomasz Piotr PORĘBA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197544">
			<meta itemprop="position" content="40">
			<a href="https://www.europarl.europa.eu/meps/fr/197544" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Elżbieta RAFALSKA" src="https://www.europarl.europa.eu/mepphoto/197544.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Elżbieta RAFALSKA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-250538">
			<meta itemprop="position" content="41">
			<a href="https://www.europarl.europa.eu/meps/fr/250538" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Rafał ROMANOWSKI" src="https://www.europarl.europa.eu/mepphoto/250538.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Rafał ROMANOWSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197545">
			<meta itemprop="position" content="42">
			<a href="https://www.europarl.europa.eu/meps/fr/197545" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Bogdan RZOŃCA" src="https://www.europarl.europa.eu/mepphoto/197545.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Bogdan RZOŃCA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28297">
			<meta itemprop="position" content="43">
			<a href="https://www.europarl.europa.eu/meps/fr/28297" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jacek SARYUSZ-WOLSKI" src="https://www.europarl.europa.eu/mepphoto/28297.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jacek SARYUSZ-WOLSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197550">
			<meta itemprop="position" content="44">
			<a href="https://www.europarl.europa.eu/meps/fr/197550" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sylwia SPUREK" src="https://www.europarl.europa.eu/mepphoto/197550.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sylwia SPUREK</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197553">
			<meta itemprop="position" content="45">
			<a href="https://www.europarl.europa.eu/meps/fr/197553" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Beata SZYDŁO" src="https://www.europarl.europa.eu/mepphoto/197553.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Beata SZYDŁO</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204346">
			<meta itemprop="position" content="46">
			<a href="https://www.europarl.europa.eu/meps/fr/204346" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dominik TARCZYŃSKI" src="https://www.europarl.europa.eu/mepphoto/204346.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dominik TARCZYŃSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96776">
			<meta itemprop="position" content="47">
			<a href="https://www.europarl.europa.eu/meps/fr/96776" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Róża THUN UND HOHENSTEIN" src="https://www.europarl.europa.eu/mepphoto/96776.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Róża THUN UND HOHENSTEIN</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Polska 2050</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197559">
			<meta itemprop="position" content="48">
			<a href="https://www.europarl.europa.eu/meps/fr/197559" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Grzegorz TOBISZOWSKI" src="https://www.europarl.europa.eu/mepphoto/197559.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Grzegorz TOBISZOWSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197566">
			<meta itemprop="position" content="49">
			<a href="https://www.europarl.europa.eu/meps/fr/197566" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Witold Jan WASZCZYKOWSKI" src="https://www.europarl.europa.eu/mepphoto/197566.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Witold Jan WASZCZYKOWSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124877">
			<meta itemprop="position" content="50">
			<a href="https://www.europarl.europa.eu/meps/fr/124877" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jadwiga WIŚNIEWSKA" src="https://www.europarl.europa.eu/mepphoto/124877.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jadwiga WIŚNIEWSKA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197572">
			<meta itemprop="position" content="51">
			<a href="https://www.europarl.europa.eu/meps/fr/197572" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Anna ZALEWSKA" src="https://www.europarl.europa.eu/mepphoto/197572.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Anna ZALEWSKA</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124884">
			<meta itemprop="position" content="52">
			<a href="https://www.europarl.europa.eu/meps/fr/124884" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Kosma ZŁOTOWSKI" src="https://www.europarl.europa.eu/mepphoto/124884.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Kosma ZŁOTOWSKI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pologne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Prawo i Sprawiedliwość</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
