<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-202073">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/202073" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marc ANGEL" src="https://www.europarl.europa.eu/mepphoto/202073.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marc ANGEL</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Luxembourg</span>

							
								<br>
							
						
							<span class="sln-additional-info">Parti ouvrier socialiste luxembourgeois</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-840">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/840" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Charles GOERENS" src="https://www.europarl.europa.eu/mepphoto/840.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Charles GOERENS</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Luxembourg</span>

							
								<br>
							
						
							<span class="sln-additional-info">Parti démocratique</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-249603">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/249603" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Martine KEMP" src="https://www.europarl.europa.eu/mepphoto/249603.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Martine KEMP</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Luxembourg</span>

							
								<br>
							
						
							<span class="sln-additional-info">Parti chrétien social luxembourgeois</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-193292">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/193292" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tilly METZ" src="https://www.europarl.europa.eu/mepphoto/193292.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tilly METZ</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Luxembourg</span>

							
								<br>
							
						
							<span class="sln-additional-info">Déi Gréng - Les Verts</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197418">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/197418" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Monica SEMEDO" src="https://www.europarl.europa.eu/mepphoto/197418.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Monica SEMEDO</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Luxembourg</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fokus</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197421">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/197421" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Isabel WISELER-LIMA" src="https://www.europarl.europa.eu/mepphoto/197421.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Isabel WISELER-LIMA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Luxembourg</span>

							
								<br>
							
						
							<span class="sln-additional-info">Parti chrétien social luxembourgeois</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
