<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197587">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/197587" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Attila ARA-KOVÁCS" src="https://www.europarl.europa.eu/mepphoto/197587.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Attila ARA-KOVÁCS</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Demokratikus Koalíció</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124712">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/124712" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andrea BOCSKOR" src="https://www.europarl.europa.eu/mepphoto/124712.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andrea BOCSKOR</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197588">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197588" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Katalin CSEH" src="https://www.europarl.europa.eu/mepphoto/197588.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Katalin CSEH</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Momentum</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124714">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/124714" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andor DELI" src="https://www.europarl.europa.eu/mepphoto/124714.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andor DELI</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96826">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/96826" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tamás DEUTSCH" src="https://www.europarl.europa.eu/mepphoto/96826.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tamás DEUTSCH</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197579">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/197579" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Klára DOBREV" src="https://www.europarl.europa.eu/mepphoto/197579.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Klára DOBREV</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Demokratikus Koalíció</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197595">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/197595" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Anna Júlia DONÁTH" src="https://www.europarl.europa.eu/mepphoto/197595.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Anna Júlia DONÁTH</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Momentum</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28150">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/28150" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Kinga GÁL" src="https://www.europarl.europa.eu/mepphoto/28150.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Kinga GÁL</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-198063">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/198063" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Márton GYÖNGYÖSI" src="https://www.europarl.europa.eu/mepphoto/198063.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Márton GYÖNGYÖSI</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Jobbik – Konzervatívok</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96830">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/96830" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Enikő GYŐRI" src="https://www.europarl.europa.eu/mepphoto/96830.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Enikő GYŐRI</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-23816">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/23816" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="András GYÜRK" src="https://www.europarl.europa.eu/mepphoto/23816.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">András GYÜRK</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124586">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/124586" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Balázs HIDVÉGHI" src="https://www.europarl.europa.eu/mepphoto/124586.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Balázs HIDVÉGHI</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124715">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/124715" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="György HÖLVÉNYI" src="https://www.europarl.europa.eu/mepphoto/124715.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">György HÖLVÉNYI</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28141">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/28141" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Lívia JÁRÓKA" src="https://www.europarl.europa.eu/mepphoto/28141.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Lívia JÁRÓKA</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96829">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/96829" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ádám KÓSA" src="https://www.europarl.europa.eu/mepphoto/96829.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ádám KÓSA</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124722">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/124722" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Csaba MOLNÁR" src="https://www.europarl.europa.eu/mepphoto/124722.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Csaba MOLNÁR</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Demokratikus Koalíció</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197584">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/197584" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sándor RÓNAI" src="https://www.europarl.europa.eu/mepphoto/197584.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sándor RÓNAI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Demokratikus Koalíció</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-213330">
			<meta itemprop="position" content="18">
			<a href="https://www.europarl.europa.eu/meps/fr/213330" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ernő SCHALLER-BAROSS" src="https://www.europarl.europa.eu/mepphoto/213330.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ernő SCHALLER-BAROSS</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-27714">
			<meta itemprop="position" content="19">
			<a href="https://www.europarl.europa.eu/meps/fr/27714" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Edina TÓTH" src="https://www.europarl.europa.eu/mepphoto/27714.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Edina TÓTH</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197894">
			<meta itemprop="position" content="20">
			<a href="https://www.europarl.europa.eu/meps/fr/197894" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="László TRÓCSÁNYI" src="https://www.europarl.europa.eu/mepphoto/197894.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">László TRÓCSÁNYI</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Fidesz-Magyar Polgári Szövetség-Kereszténydemokrata Néppárt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124705">
			<meta itemprop="position" content="21">
			<a href="https://www.europarl.europa.eu/meps/fr/124705" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="István UJHELYI" src="https://www.europarl.europa.eu/mepphoto/124705.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">István UJHELYI</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hongrie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Esély Közösség</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
