<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-112748">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/112748" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Biljana BORZAN" src="https://www.europarl.europa.eu/mepphoto/112748.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Biljana BORZAN</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Socijaldemokratska partija Hrvatske</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197419">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197419" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Valter FLEGO" src="https://www.europarl.europa.eu/mepphoto/197419.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Valter FLEGO</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Istarski demokratski sabor - Dieta democratica istriana</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-202036">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/202036" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sunčana GLAVAK" src="https://www.europarl.europa.eu/mepphoto/202036.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sunčana GLAVAK</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hrvatska demokratska zajednica</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-221463">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/221463" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ladislav ILČIĆ" src="https://www.europarl.europa.eu/mepphoto/221463.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ladislav ILČIĆ</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hrvatski suverenisti</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-112747">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/112747" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Romana JERKOVIĆ" src="https://www.europarl.europa.eu/mepphoto/112747.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Romana JERKOVIĆ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Socijaldemokratska partija Hrvatske</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197438">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/197438" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mislav KOLAKUŠIĆ" src="https://www.europarl.europa.eu/mepphoto/197438.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mislav KOLAKUŠIĆ</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">PRAVO I PRAVDA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197441">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/197441" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Predrag Fred MATIĆ" src="https://www.europarl.europa.eu/mepphoto/197441.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Predrag Fred MATIĆ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Socijaldemokratska partija Hrvatske</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-112744">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/112744" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tonino PICULA" src="https://www.europarl.europa.eu/mepphoto/112744.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tonino PICULA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Socijaldemokratska partija Hrvatske</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197413">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/197413" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Karlo RESSLER" src="https://www.europarl.europa.eu/mepphoto/197413.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Karlo RESSLER</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hrvatska demokratska zajednica</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197935">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/197935" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ivan Vilibor SINČIĆ" src="https://www.europarl.europa.eu/mepphoto/197935.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ivan Vilibor SINČIĆ</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">PRAVO I PRAVDA</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197417">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/197417" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tomislav SOKOL" src="https://www.europarl.europa.eu/mepphoto/197417.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tomislav SOKOL</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hrvatska demokratska zajednica</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-185341">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/185341" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Željana ZOVKO" src="https://www.europarl.europa.eu/mepphoto/185341.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Željana ZOVKO</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Croatie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Hrvatska demokratska zajednica</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
