<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124973">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/124973" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Gerolf ANNEMANS" src="https://www.europarl.europa.eu/mepphoto/124973.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Gerolf ANNEMANS</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Vlaams Belang</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124936">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/124936" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Maria ARENA" src="https://www.europarl.europa.eu/mepphoto/124936.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Maria ARENA</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Parti Socialiste</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-24922">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/24922" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pascal ARIMONT" src="https://www.europarl.europa.eu/mepphoto/24922.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pascal ARIMONT</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Christlich Soziale Partei</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-187917">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/187917" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marc BOTENGA" src="https://www.europarl.europa.eu/mepphoto/187917.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marc BOTENGA</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Parti du Travail de Belgique</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197467">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/197467" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Geert BOURGEOIS" src="https://www.europarl.europa.eu/mepphoto/197467.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Geert BOURGEOIS</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nieuw-Vlaamse Alliantie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197470">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/197470" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Saskia BRICMONT" src="https://www.europarl.europa.eu/mepphoto/197470.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Saskia BRICMONT</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Ecologistes Confédérés pour l'Organisation de Luttes Originales</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197463">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/197463" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Olivier CHASTEL" src="https://www.europarl.europa.eu/mepphoto/197463.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Olivier CHASTEL</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Mouvement Réformateur</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197472">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/197472" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Filip DE MAN" src="https://www.europarl.europa.eu/mepphoto/197472.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Filip DE MAN</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Vlaams Belang</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197455">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/197455" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Cindy FRANSSEN" src="https://www.europarl.europa.eu/mepphoto/197455.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Cindy FRANSSEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Christen-Democratisch &amp; Vlaams</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197469">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/197469" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Assita KANKO" src="https://www.europarl.europa.eu/mepphoto/197469.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Assita KANKO</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nieuw-Vlaamse Alliantie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96648">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/96648" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Philippe LAMBERTS" src="https://www.europarl.europa.eu/mepphoto/96648.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Philippe LAMBERTS</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Ecologistes Confédérés pour l'Organisation de Luttes Originales</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197458">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/197458" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Benoît LUTGEN" src="https://www.europarl.europa.eu/mepphoto/197458.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Benoît LUTGEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Les Engagés</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-208722">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/208722" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sara MATTHIEU" src="https://www.europarl.europa.eu/mepphoto/208722.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sara MATTHIEU</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Groen</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-4253">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/4253" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Frédérique RIES" src="https://www.europarl.europa.eu/mepphoto/4253.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Frédérique RIES</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Mouvement Réformateur</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-29579">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/29579" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marc TARABELLA" src="https://www.europarl.europa.eu/mepphoto/29579.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marc TARABELLA</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-5729">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/5729" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Kathleen VAN BREMPT" src="https://www.europarl.europa.eu/mepphoto/5729.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Kathleen VAN BREMPT</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Vooruit</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-185771">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/185771" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tom VANDENDRIESSCHE" src="https://www.europarl.europa.eu/mepphoto/185771.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tom VANDENDRIESSCHE</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Vlaams Belang</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-129164">
			<meta itemprop="position" content="18">
			<a href="https://www.europarl.europa.eu/meps/fr/129164" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tom VANDENKENDELAERE" src="https://www.europarl.europa.eu/mepphoto/129164.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tom VANDENKENDELAERE</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Christen-Democratisch &amp; Vlaams</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125106">
			<meta itemprop="position" content="19">
			<a href="https://www.europarl.europa.eu/meps/fr/125106" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Johan VAN OVERTVELDT" src="https://www.europarl.europa.eu/mepphoto/125106.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Johan VAN OVERTVELDT</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nieuw-Vlaamse Alliantie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-130100">
			<meta itemprop="position" content="20">
			<a href="https://www.europarl.europa.eu/meps/fr/130100" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Hilde VAUTMANS" src="https://www.europarl.europa.eu/mepphoto/130100.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Hilde VAUTMANS</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Open Vlaamse Liberalen en Democraten</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-97058">
			<meta itemprop="position" content="21">
			<a href="https://www.europarl.europa.eu/meps/fr/97058" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Guy VERHOFSTADT" src="https://www.europarl.europa.eu/mepphoto/97058.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Guy VERHOFSTADT</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Belgique</span>

							
								<br>
							
						
							<span class="sln-additional-info">Open Vlaamse Liberalen en Democraten</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
