<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197414">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/197414" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Loucas FOURLAS" src="https://www.europarl.europa.eu/mepphoto/197414.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Loucas FOURLAS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Chypre</span>

							
								<br>
							
						
							<span class="sln-additional-info">Democratic Rally</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197416">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197416" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Giorgos GEORGIOU" src="https://www.europarl.europa.eu/mepphoto/197416.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Giorgos GEORGIOU</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Chypre</span>

							
								<br>
							
						
							<span class="sln-additional-info">Progressive Party of Working People - Left - New Forces</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197415">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197415" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Niyazi KIZILYÜREK" src="https://www.europarl.europa.eu/mepphoto/197415.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Niyazi KIZILYÜREK</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Chypre</span>

							
								<br>
							
						
							<span class="sln-additional-info">Progressive Party of Working People - Left - New Forces</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124691">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/124691" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Costas MAVRIDES" src="https://www.europarl.europa.eu/mepphoto/124691.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Costas MAVRIDES</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Chypre</span>

							
								<br>
							
						
							<span class="sln-additional-info">Democratic Party</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124692">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/124692" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Demetris PAPADAKIS" src="https://www.europarl.europa.eu/mepphoto/124692.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Demetris PAPADAKIS</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Chypre</span>

							
								<br>
							
						
							<span class="sln-additional-info">Movement for Social Democracy EDEK</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-239271">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/239271" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Eleni STAVROU" src="https://www.europarl.europa.eu/mepphoto/239271.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Eleni STAVROU</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Chypre</span>

							
								<br>
							
						
							<span class="sln-additional-info">Democratic Rally</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
