<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197781">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/197781" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Malik AZMANI" src="https://www.europarl.europa.eu/mepphoto/197781.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Malik AZMANI</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Volkspartij voor Vrijheid en Democratie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197778">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197778" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tom BERENDSEN" src="https://www.europarl.europa.eu/mepphoto/197778.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tom BERENDSEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Christen Democratisch Appèl</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197782">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197782" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mohammed CHAHIM" src="https://www.europarl.europa.eu/mepphoto/197782.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mohammed CHAHIM</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partij van de Arbeid</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96725">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/96725" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Bas EICKHOUT" src="https://www.europarl.europa.eu/mepphoto/96725.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Bas EICKHOUT</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">GroenLinks</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125025">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/125025" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marcel de GRAAFF" src="https://www.europarl.europa.eu/mepphoto/125025.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marcel DE GRAAFF</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Forum voor Democratie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197780">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/197780" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Bart GROOTHUIS" src="https://www.europarl.europa.eu/mepphoto/197780.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Bart GROOTHUIS</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Volkspartij voor Vrijheid en Democratie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-247709">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/247709" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Anja HAGA" src="https://www.europarl.europa.eu/mepphoto/247709.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Anja HAGA</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">ChristenUnie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125023">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/125023" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Anja HAZEKAMP" src="https://www.europarl.europa.eu/mepphoto/125023.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Anja HAZEKAMP</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partij voor de Dieren</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-218349">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/218349" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Michiel HOOGEVEEN" src="https://www.europarl.europa.eu/mepphoto/218349.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Michiel HOOGEVEEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">JA21</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-58789">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/58789" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jan HUITEMA" src="https://www.europarl.europa.eu/mepphoto/58789.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jan HUITEMA</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Volkspartij voor Vrijheid en Democratie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-28266">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/28266" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sophia IN 'T VELD" src="https://www.europarl.europa.eu/mepphoto/28266.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sophia IN 'T VELD</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Volt</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125021">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/125021" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Agnes JONGERIUS" src="https://www.europarl.europa.eu/mepphoto/125021.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Agnes JONGERIUS</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partij van de Arbeid</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-95074">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/95074" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jeroen LENAERS" src="https://www.europarl.europa.eu/mepphoto/95074.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jeroen LENAERS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Christen Democratisch Appèl</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-4560">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/4560" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Antonius MANDERS" src="https://www.europarl.europa.eu/mepphoto/4560.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Antonius MANDERS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Christen Democratisch Appèl</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-190519">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/190519" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Caroline NAGTEGAAL" src="https://www.europarl.europa.eu/mepphoto/190519.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Caroline NAGTEGAAL</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Volkspartij voor Vrijheid en Democratie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-253043">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/253043" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Henk Jan ORMEL" src="https://www.europarl.europa.eu/mepphoto/253043.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Henk Jan ORMEL</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Christen Democratisch Appèl</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197868">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/197868" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Samira RAFAELA" src="https://www.europarl.europa.eu/mepphoto/197868.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Samira RAFAELA</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Democraten 66</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-218347">
			<meta itemprop="position" content="18">
			<a href="https://www.europarl.europa.eu/meps/fr/218347" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Thijs REUTEN" src="https://www.europarl.europa.eu/mepphoto/218347.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Thijs REUTEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partij van de Arbeid</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-229519">
			<meta itemprop="position" content="19">
			<a href="https://www.europarl.europa.eu/meps/fr/229519" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Catharina RINZEMA" src="https://www.europarl.europa.eu/mepphoto/229519.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Catharina RINZEMA</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Volkspartij voor Vrijheid en Democratie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197776">
			<meta itemprop="position" content="20">
			<a href="https://www.europarl.europa.eu/meps/fr/197776" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Rob ROOKEN" src="https://www.europarl.europa.eu/mepphoto/197776.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Rob ROOKEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204733">
			<meta itemprop="position" content="21">
			<a href="https://www.europarl.europa.eu/meps/fr/204733" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dorien ROOKMAKER" src="https://www.europarl.europa.eu/mepphoto/204733.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dorien ROOKMAKER</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Meer Directe Democratie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197709">
			<meta itemprop="position" content="22">
			<a href="https://www.europarl.europa.eu/meps/fr/197709" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Robert ROOS" src="https://www.europarl.europa.eu/mepphoto/197709.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Robert ROOS</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Independent</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197773">
			<meta itemprop="position" content="23">
			<a href="https://www.europarl.europa.eu/meps/fr/197773" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Bert-Jan RUISSEN" src="https://www.europarl.europa.eu/mepphoto/197773.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Bert-Jan RUISSEN</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Staatkundig Gereformeerde Partij</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125030">
			<meta itemprop="position" content="24">
			<a href="https://www.europarl.europa.eu/meps/fr/125030" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Annie SCHREIJER-PIERIK" src="https://www.europarl.europa.eu/mepphoto/125030.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Annie SCHREIJER-PIERIK</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Christen Democratisch Appèl</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197772">
			<meta itemprop="position" content="25">
			<a href="https://www.europarl.europa.eu/meps/fr/197772" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Tineke STRIK" src="https://www.europarl.europa.eu/mepphoto/197772.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Tineke STRIK</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">GroenLinks</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-125020">
			<meta itemprop="position" content="26">
			<a href="https://www.europarl.europa.eu/meps/fr/125020" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Paul TANG" src="https://www.europarl.europa.eu/mepphoto/125020.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Paul TANG</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partij van de Arbeid</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197756">
			<meta itemprop="position" content="27">
			<a href="https://www.europarl.europa.eu/meps/fr/197756" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Vera TAX" src="https://www.europarl.europa.eu/mepphoto/197756.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Vera TAX</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partij van de Arbeid</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197870">
			<meta itemprop="position" content="28">
			<a href="https://www.europarl.europa.eu/meps/fr/197870" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Kim VAN SPARRENTAK" src="https://www.europarl.europa.eu/mepphoto/197870.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Kim VAN SPARRENTAK</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">GroenLinks</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-5392">
			<meta itemprop="position" content="29">
			<a href="https://www.europarl.europa.eu/meps/fr/5392" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Lara WOLTERS" src="https://www.europarl.europa.eu/mepphoto/5392.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Lara WOLTERS</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Pays-Bas</span>

							
								<br>
							
						
							<span class="sln-additional-info">Partij van de Arbeid</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
