<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124696">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/124696" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Andrus ANSIP" src="https://www.europarl.europa.eu/mepphoto/124696.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Andrus ANSIP</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Estonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Eesti Reformierakond</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197491">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/197491" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marina KALJURAND" src="https://www.europarl.europa.eu/mepphoto/197491.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marina KALJURAND</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Estonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sotsiaaldemokraatlik Erakond</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197493">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197493" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jaak MADISON" src="https://www.europarl.europa.eu/mepphoto/197493.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jaak MADISON</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">Estonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Eesti Konservatiivne Rahvaerakond</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197497">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/197497" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sven MIKSER" src="https://www.europarl.europa.eu/mepphoto/197497.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sven MIKSER</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">Estonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Sotsiaaldemokraatlik Erakond</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-129073">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/129073" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Urmas PAET" src="https://www.europarl.europa.eu/mepphoto/129073.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Urmas PAET</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Estonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Eesti Reformierakond</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204449">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/204449" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Riho TERRAS" src="https://www.europarl.europa.eu/mepphoto/204449.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Riho TERRAS</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">Estonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Isamaa</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124700">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/124700" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jana TOOM" src="https://www.europarl.europa.eu/mepphoto/124700.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Yana TOOM</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">Estonie</span>

							
								<br>
							
						
							<span class="sln-additional-info">Eesti Keskerakond</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
