<div class="erpl_member-list">
                        








<div class="row">
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96750">
			<meta itemprop="position" content="1">
			<a href="https://www.europarl.europa.eu/meps/fr/96750" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="François ALFONSI" src="https://www.europarl.europa.eu/mepphoto/96750.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">François ALFONSI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Régions et Peuples Solidaires</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-247122">
			<meta itemprop="position" content="2">
			<a href="https://www.europarl.europa.eu/meps/fr/247122" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Catherine AMALRIC" src="https://www.europarl.europa.eu/mepphoto/247122.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Catherine AMALRIC</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Parti Radical</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197691">
			<meta itemprop="position" content="3">
			<a href="https://www.europarl.europa.eu/meps/fr/197691" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mathilde ANDROUËT" src="https://www.europarl.europa.eu/mepphoto/197691.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mathilde ANDROUËT</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197533">
			<meta itemprop="position" content="4">
			<a href="https://www.europarl.europa.eu/meps/fr/197533" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Manon AUBRY" src="https://www.europarl.europa.eu/mepphoto/197533.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Manon AUBRY</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">La France Insoumise</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-131580">
			<meta itemprop="position" content="5">
			<a href="https://www.europarl.europa.eu/meps/fr/131580" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jordan BARDELLA" src="https://www.europarl.europa.eu/mepphoto/131580.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jordan BARDELLA</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124760">
			<meta itemprop="position" content="6">
			<a href="https://www.europarl.europa.eu/meps/fr/124760" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nicolas BAY" src="https://www.europarl.europa.eu/mepphoto/124760.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nicolas BAY</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Conservateurs et Réformistes européens</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Reconquête!</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197680">
			<meta itemprop="position" content="7">
			<a href="https://www.europarl.europa.eu/meps/fr/197680" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Aurélia BEIGNEUX" src="https://www.europarl.europa.eu/mepphoto/197680.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Aurélia BEIGNEUX</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197534">
			<meta itemprop="position" content="8">
			<a href="https://www.europarl.europa.eu/meps/fr/197534" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="François-Xavier BELLAMY" src="https://www.europarl.europa.eu/mepphoto/197534.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">François-Xavier BELLAMY</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Les Républicains</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197551">
			<meta itemprop="position" content="9">
			<a href="https://www.europarl.europa.eu/meps/fr/197551" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Stéphane BIJOUX" src="https://www.europarl.europa.eu/mepphoto/197551.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Stéphane BIJOUX</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">La République en marche</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124771">
			<meta itemprop="position" content="10">
			<a href="https://www.europarl.europa.eu/meps/fr/124771" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dominique BILDE" src="https://www.europarl.europa.eu/mepphoto/124771.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dominique BILDE</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197512">
			<meta itemprop="position" content="11">
			<a href="https://www.europarl.europa.eu/meps/fr/197512" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Benoît BITEAU" src="https://www.europarl.europa.eu/mepphoto/197512.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Benoît BITEAU</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Europe Écologie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197577">
			<meta itemprop="position" content="12">
			<a href="https://www.europarl.europa.eu/meps/fr/197577" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Gilles BOYER" src="https://www.europarl.europa.eu/mepphoto/197577.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Gilles BOYER</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Horizons</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-182995">
			<meta itemprop="position" content="13">
			<a href="https://www.europarl.europa.eu/meps/fr/182995" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Annika BRUNA" src="https://www.europarl.europa.eu/mepphoto/182995.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Annika BRUNA</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197576">
			<meta itemprop="position" content="14">
			<a href="https://www.europarl.europa.eu/meps/fr/197576" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sylvie BRUNET" src="https://www.europarl.europa.eu/mepphoto/197576.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sylvie BRUNET</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Mouvement Démocrate</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96711">
			<meta itemprop="position" content="15">
			<a href="https://www.europarl.europa.eu/meps/fr/96711" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pascal CANFIN" src="https://www.europarl.europa.eu/mepphoto/96711.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pascal CANFIN</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Liste Renaissance</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197574">
			<meta itemprop="position" content="16">
			<a href="https://www.europarl.europa.eu/meps/fr/197574" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Damien CARÊME" src="https://www.europarl.europa.eu/mepphoto/197574.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Damien CARÊME</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Europe Écologie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197505">
			<meta itemprop="position" content="17">
			<a href="https://www.europarl.europa.eu/meps/fr/197505" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Catherine CHABAUD" src="https://www.europarl.europa.eu/mepphoto/197505.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Catherine CHABAUD</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Mouvement Démocrate</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-236052">
			<meta itemprop="position" content="18">
			<a href="https://www.europarl.europa.eu/meps/fr/236052" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Patricia CHAGNON" src="https://www.europarl.europa.eu/mepphoto/236052.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Patricia CHAGNON</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197529">
			<meta itemprop="position" content="19">
			<a href="https://www.europarl.europa.eu/meps/fr/197529" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Leila CHAIBI" src="https://www.europarl.europa.eu/mepphoto/197529.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Leila CHAIBI</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">La France Insoumise</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204416">
			<meta itemprop="position" content="20">
			<a href="https://www.europarl.europa.eu/meps/fr/204416" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Ilana CICUREL" src="https://www.europarl.europa.eu/mepphoto/204416.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Ilana CICUREL</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Liste Renaissance</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-245018">
			<meta itemprop="position" content="21">
			<a href="https://www.europarl.europa.eu/meps/fr/245018" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Christophe CLERGEAU" src="https://www.europarl.europa.eu/mepphoto/245018.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Christophe CLERGEAU</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Parti socialiste</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197536">
			<meta itemprop="position" content="22">
			<a href="https://www.europarl.europa.eu/meps/fr/197536" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nathalie COLIN-OESTERLÉ" src="https://www.europarl.europa.eu/mepphoto/197536.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nathalie COLIN-OESTERLÉ</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Les centristes</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197683">
			<meta itemprop="position" content="23">
			<a href="https://www.europarl.europa.eu/meps/fr/197683" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Gilbert COLLARD" src="https://www.europarl.europa.eu/mepphoto/197683.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Gilbert COLLARD</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Divers droite</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197503">
			<meta itemprop="position" content="24">
			<a href="https://www.europarl.europa.eu/meps/fr/197503" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="David CORMAND" src="https://www.europarl.europa.eu/mepphoto/197503.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">David CORMAND</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Europe Écologie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96747">
			<meta itemprop="position" content="25">
			<a href="https://www.europarl.europa.eu/meps/fr/96747" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Arnaud DANJEAN" src="https://www.europarl.europa.eu/mepphoto/96747.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Arnaud DANJEAN</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Les Républicains</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-236050">
			<meta itemprop="position" content="26">
			<a href="https://www.europarl.europa.eu/meps/fr/236050" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marie DAUCHY" src="https://www.europarl.europa.eu/mepphoto/236050.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marie DAUCHY</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197504">
			<meta itemprop="position" content="27">
			<a href="https://www.europarl.europa.eu/meps/fr/197504" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jérémy DECERLE" src="https://www.europarl.europa.eu/mepphoto/197504.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jérémy DECERLE</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">LISTE L'EUROPE ENSEMBLE</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197531">
			<meta itemprop="position" content="28">
			<a href="https://www.europarl.europa.eu/meps/fr/197531" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Gwendoline DELBOS-CORFIELD" src="https://www.europarl.europa.eu/mepphoto/197531.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Gwendoline DELBOS-CORFIELD</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Europe Écologie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96868">
			<meta itemprop="position" content="29">
			<a href="https://www.europarl.europa.eu/meps/fr/96868" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Karima DELLI" src="https://www.europarl.europa.eu/mepphoto/96868.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Karima DELLI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Europe Écologie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-190774">
			<meta itemprop="position" content="30">
			<a href="https://www.europarl.europa.eu/meps/fr/190774" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Geoffroy DIDIER" src="https://www.europarl.europa.eu/mepphoto/190774.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Geoffroy DIDIER</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Les Républicains</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124693">
			<meta itemprop="position" content="31">
			<a href="https://www.europarl.europa.eu/meps/fr/124693" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pascal DURAND" src="https://www.europarl.europa.eu/mepphoto/124693.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pascal DURAND</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Liste Renaissance</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197589">
			<meta itemprop="position" content="32">
			<a href="https://www.europarl.europa.eu/meps/fr/197589" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Laurence FARRENG" src="https://www.europarl.europa.eu/mepphoto/197589.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Laurence FARRENG</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Mouvement Démocrate</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197628">
			<meta itemprop="position" content="33">
			<a href="https://www.europarl.europa.eu/meps/fr/197628" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jean-Paul GARRAUD" src="https://www.europarl.europa.eu/mepphoto/197628.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jean-Paul GARRAUD</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197694">
			<meta itemprop="position" content="34">
			<a href="https://www.europarl.europa.eu/meps/fr/197694" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Raphaël GLUCKSMANN" src="https://www.europarl.europa.eu/mepphoto/197694.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Raphaël GLUCKSMANN</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Place publique</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204419">
			<meta itemprop="position" content="35">
			<a href="https://www.europarl.europa.eu/meps/fr/204419" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sandro GOZI" src="https://www.europarl.europa.eu/mepphoto/204419.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sandro GOZI</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Liste Renaissance</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-94649">
			<meta itemprop="position" content="36">
			<a href="https://www.europarl.europa.eu/meps/fr/94649" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Catherine GRISET" src="https://www.europarl.europa.eu/mepphoto/94649.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Catherine GRISET</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197557">
			<meta itemprop="position" content="37">
			<a href="https://www.europarl.europa.eu/meps/fr/197557" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Christophe GRUDLER" src="https://www.europarl.europa.eu/mepphoto/197557.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Christophe GRUDLER</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Mouvement Démocrate</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204420">
			<meta itemprop="position" content="38">
			<a href="https://www.europarl.europa.eu/meps/fr/204420" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Claude GRUFFAT" src="https://www.europarl.europa.eu/mepphoto/204420.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Claude GRUFFAT</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Europe Écologie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197543">
			<meta itemprop="position" content="39">
			<a href="https://www.europarl.europa.eu/meps/fr/197543" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Bernard GUETTA" src="https://www.europarl.europa.eu/mepphoto/197543.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Bernard GUETTA</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Liste Renaissance</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96952">
			<meta itemprop="position" content="40">
			<a href="https://www.europarl.europa.eu/meps/fr/96952" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Sylvie GUILLAUME" src="https://www.europarl.europa.eu/mepphoto/96952.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Sylvie GUILLAUME</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Parti socialiste</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-135511">
			<meta itemprop="position" content="41">
			<a href="https://www.europarl.europa.eu/meps/fr/135511" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Valérie HAYER" src="https://www.europarl.europa.eu/mepphoto/135511.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Valérie HAYER</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Renaissance</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-5565">
			<meta itemprop="position" content="42">
			<a href="https://www.europarl.europa.eu/meps/fr/5565" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Brice HORTEFEUX" src="https://www.europarl.europa.eu/mepphoto/5565.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Brice HORTEFEUX</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Les Républicains</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124770">
			<meta itemprop="position" content="43">
			<a href="https://www.europarl.europa.eu/meps/fr/124770" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jean-François JALKH" src="https://www.europarl.europa.eu/mepphoto/124770.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jean-François JALKH</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-189065">
			<meta itemprop="position" content="44">
			<a href="https://www.europarl.europa.eu/meps/fr/189065" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="France JAMET" src="https://www.europarl.europa.eu/mepphoto/189065.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">France JAMET</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197627">
			<meta itemprop="position" content="45">
			<a href="https://www.europarl.europa.eu/meps/fr/197627" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Virginie JORON" src="https://www.europarl.europa.eu/mepphoto/197627.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Virginie JORON</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197626">
			<meta itemprop="position" content="46">
			<a href="https://www.europarl.europa.eu/meps/fr/197626" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Hervé JUVIN" src="https://www.europarl.europa.eu/mepphoto/197626.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Herve JUVIN</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Indépendant</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197585">
			<meta itemprop="position" content="47">
			<a href="https://www.europarl.europa.eu/meps/fr/197585" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pierre KARLESKIND" src="https://www.europarl.europa.eu/mepphoto/197585.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pierre KARLESKIND</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">La République en marche</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-22858">
			<meta itemprop="position" content="48">
			<a href="https://www.europarl.europa.eu/meps/fr/22858" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Fabienne KELLER" src="https://www.europarl.europa.eu/mepphoto/22858.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Fabienne KELLER</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Agir - La Droite constructive</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204421">
			<meta itemprop="position" content="49">
			<a href="https://www.europarl.europa.eu/meps/fr/204421" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jean-Lin LACAPELLE" src="https://www.europarl.europa.eu/mepphoto/204421.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jean-Lin LACAPELLE</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197697">
			<meta itemprop="position" content="50">
			<a href="https://www.europarl.europa.eu/meps/fr/197697" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Aurore LALUCQ" src="https://www.europarl.europa.eu/mepphoto/197697.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Aurore LALUCQ</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Place publique</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197698">
			<meta itemprop="position" content="51">
			<a href="https://www.europarl.europa.eu/meps/fr/197698" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Pierre LARROUTUROU" src="https://www.europarl.europa.eu/mepphoto/197698.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Pierre LARROUTUROU</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Nouvelle Donne</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-251859">
			<meta itemprop="position" content="52">
			<a href="https://www.europarl.europa.eu/meps/fr/251859" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Guy LAVOCAT" src="https://www.europarl.europa.eu/mepphoto/251859.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Guy LAVOCAT</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Renaissance</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-124738">
			<meta itemprop="position" content="53">
			<a href="https://www.europarl.europa.eu/meps/fr/124738" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Gilles LEBRETON" src="https://www.europarl.europa.eu/mepphoto/124738.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Gilles LEBRETON</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197494">
			<meta itemprop="position" content="54">
			<a href="https://www.europarl.europa.eu/meps/fr/197494" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nathalie LOISEAU" src="https://www.europarl.europa.eu/mepphoto/197494.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nathalie LOISEAU</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Liste Renaissance</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197623">
			<meta itemprop="position" content="55">
			<a href="https://www.europarl.europa.eu/meps/fr/197623" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Thierry MARIANI" src="https://www.europarl.europa.eu/mepphoto/197623.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Thierry MARIANI</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-249285">
			<meta itemprop="position" content="56">
			<a href="https://www.europarl.europa.eu/meps/fr/249285" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Lydie MASSARD" src="https://www.europarl.europa.eu/mepphoto/249285.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Lydie MASSARD</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Régions et Peuples Solidaires</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-24505">
			<meta itemprop="position" content="57">
			<a href="https://www.europarl.europa.eu/meps/fr/24505" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Emmanuel MAUREL" src="https://www.europarl.europa.eu/mepphoto/24505.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Emmanuel MAUREL</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Gauche républicaine et socialiste</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-204418">
			<meta itemprop="position" content="58">
			<a href="https://www.europarl.europa.eu/meps/fr/204418" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nora MEBAREK" src="https://www.europarl.europa.eu/mepphoto/204418.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nora MEBAREK</div>
					<div>
						
							<span class="sln-additional-info">Groupe de l'Alliance Progressiste des Socialistes et Démocrates au Parlement européen</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Parti socialiste</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-236053">
			<meta itemprop="position" content="59">
			<a href="https://www.europarl.europa.eu/meps/fr/236053" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marina MESURE" src="https://www.europarl.europa.eu/mepphoto/236053.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marina MESURE</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">La France Insoumise</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-236051">
			<meta itemprop="position" content="60">
			<a href="https://www.europarl.europa.eu/meps/fr/236051" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Eric MINARDI" src="https://www.europarl.europa.eu/mepphoto/236051.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Eric MINARDI</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-72779">
			<meta itemprop="position" content="61">
			<a href="https://www.europarl.europa.eu/meps/fr/72779" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Nadine MORANO" src="https://www.europarl.europa.eu/mepphoto/72779.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Nadine MORANO</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Les Républicains</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197687">
			<meta itemprop="position" content="62">
			<a href="https://www.europarl.europa.eu/meps/fr/197687" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Philippe OLIVIER" src="https://www.europarl.europa.eu/mepphoto/197687.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Philippe OLIVIER</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-30482">
			<meta itemprop="position" content="63">
			<a href="https://www.europarl.europa.eu/meps/fr/30482" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Younous OMARJEE" src="https://www.europarl.europa.eu/mepphoto/30482.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Younous OMARJEE</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">La France Insoumise</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-234344">
			<meta itemprop="position" content="64">
			<a href="https://www.europarl.europa.eu/meps/fr/234344" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Max ORVILLE" src="https://www.europarl.europa.eu/mepphoto/234344.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Max ORVILLE</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Mouvement Démocrate</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197527">
			<meta itemprop="position" content="65">
			<a href="https://www.europarl.europa.eu/meps/fr/197527" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Anne-Sophie PELLETIER" src="https://www.europarl.europa.eu/mepphoto/197527.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Anne-Sophie PELLETIER</div>
					<div>
						
							<span class="sln-additional-info">Le groupe de la gauche au Parlement européen - GUE/NGL</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Indépendant</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197629">
			<meta itemprop="position" content="66">
			<a href="https://www.europarl.europa.eu/meps/fr/197629" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Maxette PIRBAKAS" src="https://www.europarl.europa.eu/mepphoto/197629.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Maxette PIRBAKAS</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Indépendant</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-96885">
			<meta itemprop="position" content="67">
			<a href="https://www.europarl.europa.eu/meps/fr/96885" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Dominique RIQUET" src="https://www.europarl.europa.eu/mepphoto/96885.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Dominique RIQUET</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Mouvement Radical Social-Libéral</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197615">
			<meta itemprop="position" content="68">
			<a href="https://www.europarl.europa.eu/meps/fr/197615" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Jérôme RIVIÈRE" src="https://www.europarl.europa.eu/mepphoto/197615.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Jérôme RIVIÈRE</div>
					<div>
						
							<span class="sln-additional-info">Non-inscrits</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Indépendant</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197506">
			<meta itemprop="position" content="69">
			<a href="https://www.europarl.europa.eu/meps/fr/197506" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Caroline ROOSE" src="https://www.europarl.europa.eu/mepphoto/197506.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Caroline ROOSE</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Europe Écologie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197690">
			<meta itemprop="position" content="70">
			<a href="https://www.europarl.europa.eu/meps/fr/197690" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="André ROUGÉ" src="https://www.europarl.europa.eu/mepphoto/197690.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">André ROUGÉ</div>
					<div>
						
							<span class="sln-additional-info">Groupe «Identité et démocratie»</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Rassemblement national</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-249284">
			<meta itemprop="position" content="71">
			<a href="https://www.europarl.europa.eu/meps/fr/249284" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Laurence SAILLIET" src="https://www.europarl.europa.eu/mepphoto/249284.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Laurence SAILLIET</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Les Républicains</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-24594">
			<meta itemprop="position" content="72">
			<a href="https://www.europarl.europa.eu/meps/fr/24594" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Anne SANDER" src="https://www.europarl.europa.eu/mepphoto/24594.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Anne SANDER</div>
					<div>
						
							<span class="sln-additional-info">Groupe du Parti populaire européen (Démocrates-Chrétiens)</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Les Républicains</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197500">
			<meta itemprop="position" content="73">
			<a href="https://www.europarl.europa.eu/meps/fr/197500" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Mounir SATOURI" src="https://www.europarl.europa.eu/mepphoto/197500.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Mounir SATOURI</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Europe Écologie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-250918">
			<meta itemprop="position" content="74">
			<a href="https://www.europarl.europa.eu/meps/fr/250918" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="François THIOLLET" src="https://www.europarl.europa.eu/mepphoto/250918.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">François THIOLLET</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Europe Écologie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197547">
			<meta itemprop="position" content="75">
			<a href="https://www.europarl.europa.eu/meps/fr/197547" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Irène TOLLERET" src="https://www.europarl.europa.eu/mepphoto/197547.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Irène TOLLERET</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Liste Renaissance</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-97236">
			<meta itemprop="position" content="76">
			<a href="https://www.europarl.europa.eu/meps/fr/97236" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marie TOUSSAINT" src="https://www.europarl.europa.eu/mepphoto/97236.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marie TOUSSAINT</div>
					<div>
						
							<span class="sln-additional-info">Groupe des Verts/Alliance libre européenne</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Europe Écologie</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197502">
			<meta itemprop="position" content="77">
			<a href="https://www.europarl.europa.eu/meps/fr/197502" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Marie-Pierre VEDRENNE" src="https://www.europarl.europa.eu/mepphoto/197502.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Marie-Pierre VEDRENNE</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Mouvement Démocrate</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197511">
			<meta itemprop="position" content="78">
			<a href="https://www.europarl.europa.eu/meps/fr/197511" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Salima YENBOU" src="https://www.europarl.europa.eu/mepphoto/197511.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Salima YENBOU</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Renaissance</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
		<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 text-center mt-3 erpl_member-list-item a-i" id="member-block-197581">
			<meta itemprop="position" content="79">
			<a href="https://www.europarl.europa.eu/meps/fr/197581" itemprop="url" class="erpl_member-list-item-content mb-3 t-y-block">
				<div>
					

					<div class="erpl_image-frame mb-2">
						<img src="/commonFrontResources/evostrap/6.2.0/lib/assets/img/frame/portraitsize_thumb.png" alt="" aria-hidden="true">
						<span>
							<img loading="lazy" alt="Stéphanie YON-COURTIN" src="https://www.europarl.europa.eu/mepphoto/197581.jpg">
						</span>
					</div>
					<div class="erpl_title-h4 t-item">Stéphanie YON-COURTIN</div>
					<div>
						
							<span class="sln-additional-info">Groupe Renew Europe</span>

							
								<br>
							
						
							<span class="sln-additional-info">France</span>

							
								<br>
							
						
							<span class="sln-additional-info">Liste Renaissance</span>

							
						
					</div>
				</div>
			</a>
		</div>
	
</div>

                    </div>
