@mixin votewatch-nested-items {
  flex: 1;
      
      ul {
        list-style: none;
        padding: 0;
        margin:0;
        
        background: #fff;
        width: 250px;
        height: auto;
        
        li {
          padding: 5px 10px;
        }
        
        /*.block-facets ul  */ ul li {
          margin: 0;
        }
      }
      
      .facet-item:hover {
        background: #fff;
        & > label {
          text-decoration: underline;
        }
      }
      
      /*.menu-item--expanded .menu {
        background: #fff;
        width: auto;
        height: auto;
      }      */

      .facet-item--expanded {
        background-color: #f5f5f2;
        
        /*background: #fff;
        width: auto;
        height: auto;*/
        
        &.facet-item--active-trail, &:has(a.is-active) {
          & > label {
            /*color: blueviolet;*/
            font-weight: bold;
            text-decoration: underline;
          }  
        }
/*        &:has(a.is-active) {
          
        }*/
      }
      ul li.facet-item {
        border-top: none transparent;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
      }
      .facet-item:last-child {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
      }
      
      ul li.facet-item:first-child {
        border-top: 1px solid #ddd;
      }
      
      li.facet-item--expanded.hover-intent ul ul,
      li.facet-item--expanded.hover-intent ul ul ul,
      li.facet-item--expanded.hover-intent ul ul ul ul,
      li.facet-item--expanded.hover-intent ul ul ul ul ul {
        display: none;
        left: -999em; /* LTR */
      }
      
      /* Lists nested under hovered list items */
      li.facet-item--expanded.hover-intent ul,
      li li.facet-item--expanded.hover-intent ul,
      li li li.facet-item--expanded.hover-intent ul,
      li li li li.facet-item--expanded.hover-intent ul,
      li li li li li.facet-item--expanded.hover-intent ul {
        display: block;
        left: auto; /* LTR */
      }

      ul li.facet-item--expanded.hover-intent ul {
        display: block;
        position: absolute;
        width: 250px;/**/
        /* box-shadow: 2px 2px 3px hsla(0, 0, 0, 0.4); */
        z-index: 1;
      }
      
      ul li.facet-item--expanded.facet-item > ul {
        display: none;
      }
      
       ul li.facet-item--expanded.facet-item.hover-intent ul {
        display: block;
        margin: -33px 0 0 238px;
      }
      
       li:hover ul li {
        float: none;
      }
      
       li.hover-intent ul li {
        float: none;
      }
      
      .facet-item { 
        input,label {
          display: inline-block;
        }

        label {
          margin-left: 10px;
          font-weight: normal;
        }
      }
}

.block-facet-block-nested-dropdown,
/*.block-facet-blockplenary,*/
.block-facet--checkbox.menu--plenary {
  .block__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;

    text-align: left;

    .facets-widget-checkbox { 
      position: relative;
      h3 {
        font-weight: normal;
        margin: 0;
        padding: 10px;
      }
      ul {
        display: none;
        left: -999em; /* LTR */
        /*&:hover {
          display: block;
          position:absolute;
          left: auto;  LTR 
        }*/
      }
      & > ul {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      /*&:hover {
        ul {
          display: block;
          position:absolute;
          left: auto;  LTR 
          z-index: 1;
        }
      }*/

      @include votewatch-nested-items;
      ul li.facet-item--expanded.hover-intent ul {
        width: 250px;
      }
    }
  }
}

/*.block-facet-blockplenary,*/
.block-facet-block-nested-dropdown,
.block-facet--checkbox.menu--plenary {
  position: relative;  
  margin-bottom: 0;
  display: inline-block;
  /*width: 250px;*/
  width: 75%;
  /*text-align: left;*/
  
  top: 74px;
  text-align: center;
  
  h2 {
    /*width: auto;*/
    width: 250px;
    margin: 0;
    /*padding: 0px 10px 50px;*/
    /*padding: 0px 10px 0px;*/
    
    /*margin: 115px 0 0 0;*/
    
    /*line-height: 27px;*/
    /*text-align: center;*/
    text-align: left;
    font-size: large;
  }
  
  .block__content {
    position: absolute;
    /*top: 60px;*/
    /*top: 15px;
    left: 0px;*/
    
    /*top: 180px;
    left: -18px;*/
    
    /*top: 102px;
    left: 185px;*/
    
    top: 22px;
    left: 0px;
  }
}

.block-views-exposed-filter-blockvotes-page-1 {
  /*display: inline-block;
  position: relative;
  top: -50px;*/
    
  .block__content {
    width: 100%;    
    form {
      .form-item {
        display:inline-block;
        width: 22%;
      }
      .form-actions {
        display:inline-block;
        width: 30%;
        padding-left: 20px;
        input {
          display:inline-block;
        }
      }
      
      .form-item-search-api-fulltext input {
        line-height: 67px;
      }   
    }
  }
}